<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-address-card icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Inclusão de Dependente
              <div class="page-title-subheading">Novo Dependente Ativo.</div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Preencha os campos abaixo:</h5>

          <span style="color: red">* Obrigatório</span>
          <div style="height: 5px"></div>

          <form
            class="needs-validation"
            #dependenteForm="ngForm"
            ENCTYPE="multipart/form-data"
            novalidate
          >
            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01"
                  >CPF <span style="color: red">*</span></label
                >
                <input
                  #CPF="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="CPF.invalid && CPF.touched"
                  [class.is-valid]="CPF.valid && CPF.touched"
                  required
                  name="CPF"
                  pattern="^\d{3}\.\d{3}\.\d{3}\-\d{2}$"
                  [(ngModel)]="dependente.CPF"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                />
                <div *ngIf="CPF.errors && (CPF.valid || CPF.touched)">
                  <small class="text-danger" *ngIf="CPF.errors.required"
                    >CPF Necessário!</small
                  >
                  <small class="text-danger" *ngIf="CPF.errors.pattern"
                    >CPF Digitos Incompletos!</small
                  >
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Código Empresa <span style="color: red">*</span></label
                >
                <input
                  #cod_empresa="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="
                    cod_empresa.invalid && cod_empresa.touched
                  "
                  [class.is-valid]="cod_empresa.valid && cod_empresa.touched"
                  required
                  [(ngModel)]="dependente.cod_empresa"
                  name="cod_empresa"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Recebimento</label>
                <input
                  #data_recebimento="ngModel"
                  [class.is-invalid]="
                    data_recebimento.invalid && data_recebimento.touched
                  "
                  [class.is-valid]="
                    data_recebimento.valid && data_recebimento.touched
                  "
                  required
                  [(ngModel)]="dependente.data_recebimento"
                  name="data_recebimento"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de recebimento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Prioridade"
                  readonly="true"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Número da Carteirinha
                  <span style="color: red">*</span></label
                >
                <input
                  #carteirinha="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="
                    carteirinha.invalid && carteirinha.touched
                  "
                  [class.is-valid]="carteirinha.valid && carteirinha.touched"
                  required
                  [(ngModel)]="dependente.carteirinha"
                  maxlength="9"
                  name="carteirinha"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o número"
                />
              </div>

              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="dependente.tipo"
                  name="tipo"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01"
                  >Nome do Dependente <span style="color: red">*</span></label
                >
                <input
                  #nome_dependente="ngModel"
                  [class.is-invalid]="
                    nome_dependente.invalid && nome_dependente.touched
                  "
                  [class.is-valid]="
                    nome_dependente.valid && nome_dependente.touched
                  "
                  required
                  [(ngModel)]="dependente.nome_dependente"
                  name="nome_dependente"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Dependente"
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    nome_dependente.valid || nome_dependente.untouched
                  "
                >
                  Nome do Dependente Necessário!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Data de Nascimento <span style="color: red">*</span></label
                >
                <input
                  #data_nascimento="ngModel"
                  [class.is-invalid]="
                    data_nascimento.invalid && data_nascimento.touched
                  "
                  [class.is-valid]="
                    data_nascimento.valid && data_nascimento.touched
                  "
                  required
                  name="data_nascimento"
                  [(ngModel)]="dependente.data_nascimento"
                  name="data_nascimento"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de nascimento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Sexo <span style="color: red">*</span></label
                >
                <select
                  #sexo="ngModel"
                  [class.is-invalid]="sexo.invalid && sexo.touched"
                  [class.is-valid]="sexo.valid && sexo.touched"
                  required
                  class="form-control"
                  name="sexo"
                  [(ngModel)]="dependente.sexo"
                >
                  <option value="">Selecione aqui</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Estado Civil <span style="color: red">*</span></label
                >
                <!-- BOTÃO REANEXAR CASADO -->
                <div id="reanexar3" style="display: none">
                  <button
                    style="position: absolute; right: -46px"
                    class="btn btn-primary"
                    id="abrirAnexo3"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>

                <select
                  #estado_civil="ngModel"
                  [class.is-invalid]="
                    estado_civil.invalid && estado_civil.touched
                  "
                  [class.is-valid]="estado_civil.valid && estado_civil.touched"
                  required
                  id="estado_civil2"
                  class="form-control"
                  [(ngModel)]="dependente.estado_civil"
                  name="estado_civil"
                >
                  <option value="">Selecione</option>
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>

                <!-- VINCULAR ANEXO DE CASADO -->
                <div id="vinc-anexo-casado">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <h1
                        style="
                          font-size: 20px;
                          display: flex;
                          margin-top: -15px;
                          margin-bottom: 15px;
                        "
                      >
                        Anexar Certidão de Casamento
                      </h1>
                      <label for="avatar"
                        >Escolha um arquivo para anexar:</label
                      >
                      <div style="height: 10px; width: 100%"></div>
                      <input
                        type="file"
                        id="avatar"
                        name="avatar"
                        [(ngModel)]="titular.anexo_doc_casamento"
                        accept=".png, .jpg, .jpeg"
                        ngControl="inputFile"
                      />

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexo3"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01"
                  >Nome da Mãe <span style="color: red">*</span></label
                >
                <input
                  #nome_mae="ngModel"
                  [class.is-invalid]="nome_mae.invalid && nome_mae.touched"
                  [class.is-valid]="nome_mae.valid && nome_mae.touched"
                  required
                  [(ngModel)]="dependente.nome_mae"
                  name="nome_mae"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Mãe"
                />
                <small
                  class="text-danger"
                  [class.d-none]="nome_mae.valid || nome_mae.untouched"
                >
                  Nome da Mãe Necessário!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05"
                  >Data de Admissão <span style="color: red">*</span></label
                >
                <input
                  #data_admissao="ngModel"
                  [class.is-invalid]="
                    data_admissao.invalid && data_admissao.touched
                  "
                  [class.is-valid]="
                    data_admissao.valid && data_admissao.touched
                  "
                  required
                  [(ngModel)]="dependente.data_admissao"
                  name="data_admissao"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de admissão"
                />
              </div>
              <div
                id="datacasamentoDep"
                style="display: none"
                class="col-md-2 mb-3"
              >
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="dependente.data_casamento"
                  name="data_casamento"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data do casamento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Tipo Parentesco <span style="color: red">*</span></label
                >
                <!-- BOTÃO REANEXAR CASADO -->
                <div id="reanexar2" style="display: none">
                  <button
                    style="position: absolute; right: -46px"
                    class="btn btn-primary"
                    id="abrirAnexo2"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>

                <select
                  #tipo_parentesco="ngModel"
                  [class.is-invalid]="
                    tipo_parentesco.invalid && tipo_parentesco.touched
                  "
                  [class.is-valid]="
                    tipo_parentesco.valid && tipo_parentesco.touched
                  "
                  required
                  id="filhoConjuge"
                  class="form-control"
                  [(ngModel)]="dependente.tipo_parentesco"
                  name="tipo_parentesco"
                >
                  <option value="">Selecione</option>
                  <option value="Filho(a)">Filho(a)</option>
                  <option value="Conjuge">Conjuge</option>
                </select>

                <!-- VINCULAR ANEXO DE CONJUGE OU FILHO -->
                <div id="vinc-anexo-conjugeFilho">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <h1
                        style="
                          font-size: 20px;
                          display: flex;
                          margin-top: -15px;
                          margin-bottom: 15px;
                        "
                      >
                        Anexar Certidão de Nascimento
                      </h1>
                      <label for="imagemCasado"
                        >Escolha um arquivo para anexar:</label
                      >
                      <div style="height: 10px; width: 100%"></div>

                      <input
                        type="file"
                        id="imagemCasado"
                        ngControl="inputFile"
                        accept=".png, .jpg, .jpeg"
                        [(ngModel)]="dependente.anexo_doc_nascimento"
                      />

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexo2"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01"
                  >CEP <span style="color: red">*</span></label
                >
                <input
                  #CEP="ngModel"
                  [class.is-invalid]="CEP.invalid && CEP.touched"
                  [class.is-valid]="CEP.valid && CEP.touched"
                  required
                  [(ngModel)]="dependente.CEP"
                  name="CEP"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular </label>
                <input
                  #celular="ngModel"
                  [class.is-invalid]="celular.invalid && celular.touched"
                  [class.is-valid]="celular.valid && celular.touched"
                  required
                  [(ngModel)]="dependente.celular"
                  name="celular"
                  type="text"
                  class="form-control phone_with_ddd"
                  placeholder="Informe o Celular"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03"
                  >Cidade <span style="color: red">*</span></label
                >
                <input
                  #cidade="ngModel"
                  [class.is-invalid]="cidade.invalid && cidade.touched"
                  [class.is-valid]="cidade.valid && cidade.touched"
                  required
                  [(ngModel)]="dependente.cidade"
                  name="cidade"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02"
                  >Estado UF <span style="color: red">*</span></label
                >
                <select
                  #estado="ngModel"
                  [class.is-invalid]="estado.invalid && estado.touched"
                  [class.is-valid]="estado.valid && estado.touched"
                  required
                  [(ngModel)]="dependente.estado"
                  name="estado_uf"
                  class="form-control"
                >
                  <option value="">Selecione</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Declaração de Saúde <span style="color:red;">*</span></label>
                <select
                id="declaracaoSaudeDependente"
                  #declaracao_saude="ngModel"
                  [class.is-invalid]="declaracao_saude.invalid && declaracao_saude.touched"
                  [class.is-valid]="declaracao_saude.valid && declaracao_saude.touched"
                  class="form-control"
                  name="declaracao_saude"
                  [(ngModel)]="dependente.declaracao_saude"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Sim">Sim</option>
                  <option value="Nao">Não</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  placeholder="OK"
                />
              </div>

              <div class="col-md-4 mb-4" style="display: none;" id="descDeclaracaoSaudeDependente">
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde
                  <span style="color: red">*</span></label
                >
                <input
                  #desc_declarao_saude="ngModel"
                  [class.is-invalid]="
                    desc_declarao_saude.invalid && desc_declarao_saude.touched
                  "
                  [class.is-valid]="
                    desc_declarao_saude.valid && desc_declarao_saude.touched
                  "
                  required
                  [(ngModel)]="dependente.desc_declarao_saude"
                  name="desc_declarao_saude"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui exatamente como está na declaração"
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="dependente.observacoes"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                />
              </div>

              <!--  -->
              <small
                class="text-danger"
                [class.d-none]="titular.valid || titular.untouched"
              >
                <i class="fas fa-times"></i> Titular Vinculado
                Necessário!</small
              >
              <div class="vinc-tit">
                <div class="posit-btn">
                  <button id="vincular-titular-btn" class="btn-vincular">
                    <i style="margin-right: 5px" class="fas fa-id-badge"></i>
                    Vincular Titular
                  </button>
                  <p id="encounter-tit" style="display: none">
                    Titular vinculado: <b>{{ dependente.nome_benef }}</b>
                  </p>
                </div>
              </div>

              <div id="vinc-titular">
                <div class="box-titular">
                  <div class="text-info-box-titular-vinc">
                    <label for="validationCustom05">Vincular Titular</label>
                    <div class="col-md-4 mb-3">
                      <input
                        [(ngModel)]="nome_benef"
                        (input)="searchNomeTitDep()"
                        name="nome_benef"
                        type="text"
                        class="form-control-tit"
                        placeholder="Buscar Titular pelo Nome"
                      />
                    </div>

                    <em for="validationCustom05">Titulares Encontrados:</em>
                    <input
                      #titular="ngModel"
                      style="display: none"
                      value=""
                      class="titulares-checkbox"
                      name="titulares"
                      [(ngModel)]="dependente.titular"
                      name="titular"
                      [class.is-invalid]="titular.invalid && titular.touched"
                      [class.is-valid]="titular.valid && titular.touched"
                      required
                    />
                    <div class="titulares-checkbox">
                      <li
                        value="{{ titular.id }}"
                        *ngFor="
                          let titular of titulares
                            | paginate
                              : {
                                  id: 'titularvinculo',
                                  itemsPerPage: 8,
                                  currentPage: p
                                }
                        "
                        (click)="titularClickedDependente(titular)"
                      >
                        {{ titular.CPF }} - {{ titular.nome_benef }}
                      </li>
                    </div>
                    <pagination-controls
                      id="titularvinculo"
                      class="paginacao-tit"
                      previousLabel="Anterior"
                      nextLabel="Seguinte"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>

            <button
              [disabled]="dependenteForm.form.invalid"
              class="btn btn-primary"
              (click)="newDependente()"
            >
              Gravar informações
            </button>
            <button type="reset" class="btn btn-cancelar">Apagar tudo</button>
          </form>
        </div>
      </div>
    </div>
    <div class="app-wrapper-footer">
      <div class="app-footer">
        <div class="app-footer__inner">
          <div class="app-footer-left">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link"> Ajuda </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  Relatar Problema
                </a>
              </li>
            </ul>
          </div>
          <div class="app-footer-right">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link"> Outros </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  <div class="badge badge-success mr-1 ml-0"></div>
                  Outros
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
