<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-address-card icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Inclusão de Dependente
              <div class="page-title-subheading">
                Novo Dependente Ativo.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Preencha os campos abaixo:</h5>
          <form class="needs-validation">
            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CPF</label>
                <input
                  maxlength="11"
                  [(ngModel)]="dependente.CPF"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input
                  [(ngModel)]="dependente.cod_empresa"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Recebimento</label>
                <input
                  [(ngModel)]="dependente.data_recebimento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de recebimento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Prioridade"
                  readonly="true"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Número da Carteirinha</label>
                <input
                  [(ngModel)]="dependente.carteirinha"
                  maxlength="9"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o número"
                />
              </div>

              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="dependente.tipo"
                  [ngModelOptions]="{ standalone: true }"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome do Dependente</label>
                <input
                  [(ngModel)]="dependente.nome_dependente"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Dependente"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Nascimento</label>
                <input
                  [(ngModel)]="dependente.data_nascimento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de nascimento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Sexo</label>
                <select
                  class="form-control"
                  name="sexo"
                  [(ngModel)]="dependente.sexo"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option value="">Selecione aqui</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Estado Civil</label>
                <!-- BOTÃO REANEXAR CASADO -->
                <div id="reanexar3" style="display: none">
                  <button
                    style="position: absolute; right: -46px"
                    class="btn btn-primary"
                    id="abrirAnexo3"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>

                <select
                  id="estado_civil2"
                  class="form-control"
                  [(ngModel)]="dependente.estado_civil"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option value="">Selecione</option>
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>

                <!-- VINCULAR ANEXO DE CASADO -->
                <div id="vinc-anexo-casado">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <label for="avatar"
                        >Escolha um arquivo para anexar:</label
                      >

                      <input
                        type="file"
                        id="avatar"
                        name="avatar"
                        accept="image/png, image/jpeg"
                      />

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexo3"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome da Mãe</label>
                <input
                  [(ngModel)]="dependente.nome_mae"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Mãe"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Admissão</label>
                <input
                  [(ngModel)]="dependente.data_admissao"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de admissão"
                />
              </div>
              <div
                id="datacasamentoDep"
                style="display: none"
                class="col-md-2 mb-3"
              >
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="dependente.data_casamento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data do casamento"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Tipo Parentesco</label>
                <!-- BOTÃO REANEXAR CASADO -->
                <div id="reanexar2" style="display: none">
                  <button
                    style="position: absolute; right: -46px"
                    class="btn btn-primary"
                    id="abrirAnexo2"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>

                <select
                  id="filhoConjuge"
                  class="form-control"
                  [(ngModel)]="dependente.tipo_parentesco"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option value="">Selecione</option>
                  <option value="Filho(a)">Filho(a)</option>
                  <option value="Conjuge">Conjuge</option>
                </select>

                <!-- VINCULAR ANEXO DE CASADO -->
                <div id="vinc-anexo-conjugeFilho">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <label for="imagemCasado"
                        >Escolha uma imagem para anexar:</label
                      >

                      <input
                        type="file"
                        id="imagemCasado"
                        accept="image/png, image/jpeg"
                      />

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexo2"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CEP</label>
                <input
                  [(ngModel)]="dependente.CEP"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  [(ngModel)]="dependente.celular"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control phone_with_ddd"
                  placeholder="Informe o Celular"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input
                  [(ngModel)]="dependente.cidade"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select
                  [(ngModel)]="dependente.estado"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  name="estado_uf"
                  required
                >
                  <option value="">Selecione</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Declaração de Saúde</label>
                <input
                  [(ngModel)]="dependente.declaracao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Declaração de Saúde"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  placeholder="OK"
                />
                <div class="invalid-feedback">
                  Por favor informe o estado corretamente.
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde</label
                >
                <input
                  [(ngModel)]="dependente.desc_declarao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui exatamente como está na declaração"
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="dependente.observacoes"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                />
              </div>

              <!--  -->

              <div class="vinc-tit">
                <div class="posit-btn">
                  <button id="vincular-tit" class="btn-vincular">
                    <i style="margin-right: 5px" class="fas fa-id-badge"></i>
                    Vincular Titular
                  </button>
                  <p id="encounter-tit" style="display: none">
                    Titular vinculado: <b>{{ dependente.nome_benef }}</b>
                  </p>
                </div>
              </div>

              <div id="vinc-titular">
                <div class="box-titular">
                  <div class="text-info-box-titular-vinc">
                    <label for="validationCustom05">Vincular Titular</label>
                    <div class="col-md-4 mb-3">
                      <input
                        [(ngModel)]="nome_benef"
                        (input)="searchNomeTitDep()"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        class="form-control-tit"
                        placeholder="Buscar Titular pelo Nome"
                      />
                    </div>

                    <em for="validationCustom05">Titulares Encontrados:</em>
                    <input
                      style="display: none"
                      value=""
                      class="titulares-checkbox"
                      name="titulares"
                      [(ngModel)]="dependente.titular"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <div class="titulares-checkbox">
                      <li
                        value="{{ titular.id }}"
                        *ngFor="
                          let titular of titulares
                            | paginate
                              : {
                                  id: 'titularvinculo',
                                  itemsPerPage: 8,
                                  currentPage: p
                                }
                        "
                        (click)="titularClickedDependente(titular)"
                      >
                        {{ titular.CPF }} - {{ titular.nome_benef }}
                      </li>
                    </div>
                    <pagination-controls
                      id="titularvinculo"
                      class="paginacao-tit"
                      previousLabel="Anterior"
                      nextLabel="Seguinte"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" (click)="newDependente()">
              Gravar informações
            </button>
            <button type="reset" class="btn btn-cancelar">Apagar tudo</button>
          </form>
        </div>
      </div>
    </div>
    <div class="app-wrapper-footer">
      <div class="app-footer">
        <div class="app-footer__inner">
          <div class="app-footer-left">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link"> Ajuda </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  Relatar Problema
                </a>
              </li>
            </ul>
          </div>
          <div class="app-footer-right">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link"> Outros </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  <div class="badge badge-success mr-1 ml-0"></div>
                  Outros
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
