<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-user-tie icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Consulta de Titulares
              <div class="page-title-subheading">
                Consulta de dados - Titulares Ativos e Cancelados.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta4" class="main-card mb-3 card">
        <nav class="menuVigencia">
          <ul class="menuItems">
            <li class="active radiusTop" (click)="titAtivo()">
              <i
                class="fas fa-user-check"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Titulares Ativos
            </li>

            <li class="cancelados" (click)="titCancelado()">
              <i
                class="fas fa-user-slash"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Titulares Cancelados
            </li>
          </ul>
        </nav>
        <div class="card-body">
          <h5 class="card-title">Consultar Titular</h5>
          <form class="needs-validation">
            <div class="form-row">
              <div class="input-group col-md-3 mb3">
                <label>CPF:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  name="CPF"
                  (input)="searchCPF($event.target.value)"
                  class="form-control cpf"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CPF"
                />
              </div>
              <!-- (keypress)="textOnly($event)" -->
              <div class="input-group col-md-4 mb3">
                <label>Nome do titular:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-user-tie"></i
                ></span>
                <input
                  (input)="searchNomeBenef($event.target.value)"
                  name="nome_titular"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do titular"
                />
              </div>
            </div>
            <div style="width: 100%; height: 10px"></div>

            <hr />

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>

            <div *ngIf="contentLoaded">
              <div class="titulares">
                Titulares Encontrados:
                <li
                  class="loadit"
                  *ngFor="
                    let resultado of busca
                      | orderBy: 'created_at':false
                      | paginate
                        : {
                            id: 'titularsConsulta',
                            itemsPerPage: 14,
                            currentPage: p
                          }
                  "
                  (click)="titularClickedConsulta(resultado)"
                  [ngClass]="
                    resultado.prioridade == 'prioridade'
                      ? 'prioridade'
                      : 'sem-prioridade'
                  "
                >
                  <i
                    style="
                      font-size: 18px;
                      margin-left: 9px;
                      margin-right: 1px;
                      background-color: #eff9ff;
                      border: 1px solid #ced4da;
                      border-radius: 0.25rem;
                      padding: 3px;
                      color: #434343;
                    "
                    class="fas fa-user-tie"
                  ></i>
                  CPF: {{ resultado.CPF | mask: "000.000.000-99" }} -
                  {{ resultado.nome }}
                  <i
                    style="float: right; margin-top: 4px"
                    class="fas fa-external-link-alt"
                  ></i>
                </li>
                <h4
                  class="loadit"
                  style="margin-top: 20px"
                  *ngIf="busca.length === 0"
                >
                  Nada encontrado
                </h4>
              </div>
            </div>
            <pagination-controls
              id="titularsConsulta"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
      <div id="titularesappearConsulta" class="main-card mb-3 card">
        <h1
          class="titular-ts"
          style="margin-left: 20px; margin-right: 20px; padding-top: 20px"
        >
          <div id="voltardadosTitConsulta" class="voltar">
            <i class="fas fa-chevron-left"></i>
          </div>
          {{ titular.nome }}
          <p class="cpf-ts">
            Inscrito(a) sob CPF:
            {{ titular.CPF | mask: "000.000.000-99" }}
          </p>

          <div class="botao-anexosAlt">
            <button
              class="btn btn-primary"
              style="width: 160px"
              id="abrirAnexoConsulta2"
            >
              <i style="margin-right: 6px" class="fas fa-file-image"></i>Abrir
              Anexos
            </button>
          </div>
        </h1>

        <!-- TELA DE ANEXOS DE CASAMENTO -->
        <div id="vinc-anexo-casadoAlt">
          <div class="box-anexo">
            <div class="anexo-info-box-titular-vinc">
              <label
                style="
                  display: flex;
                  font-size: 18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
                >Anexos vinculados:</label
              >
              <div>
               
                <h3 *ngIf="titular.anexo_doc_casamento != null">
                  Certidão de Casamento
                </h3>
                <a
                  *ngIf="!titular.anexo_doc_casamento != null"
                  href="{{ titular.anexo_doc_casamento }}"
                  data-lightbox="image1"
                  data-title="Certidão de Casamento de {{ titular.nome }}"
                >
                  <img
                    width="275px"
                    onclick="openModal();currentSlide(1)"
                    class="hover-shadow"
                    src="{{ titular.anexo_doc_casamento }}"
                  />
                </a>
              </div>
              <b *ngIf="titular.anexo_doc_casamento == null"
                >Nenhuma Certidão de Casamento</b
              >
              <hr />
              <div>
                <h3 *ngIf="titular.anexo_doc_empregaticio != null">
                  Vínculo Empregatício
                </h3>
                <a
                  *ngIf="!titular.anexo_doc_empregaticio != null"
                  href="{{ titular.anexo_doc_empregaticio }}"
                  data-lightbox="image2"
                  data-title="Vínculo Empregatício de {{ titular.nome }}"
                >
                  <img
                    width="275px"
                    class="hover-shadow"
                    src="{{ titular.anexo_doc_empregaticio }}"
                /></a>

                <!-- <div id="lightgallery">
                  <a href="{{ titular.anexo_doc_empregaticio }}">
                    <img
                      width="300px"
                      src="{{ titular.anexo_doc_empregaticio }}"
                    />
                  </a>
                </div> -->
              </div>

              <b *ngIf="titular.anexo_doc_empregaticio == null"
                >Nenhum Vínculo Empregatício</b
              >
              <hr />

              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                "
                class="btn btn-primary"
                id="fecharAnexoConsulta2"
              >
                Fechar tela
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div id="postTitConsulta" class="card-body">
          <h5 class="card-title">DADOS CADASTRADOS DO(A) titular:</h5>
          <hr />
          <form class="needs-validation">
            <div class="form-row">
              <div class="dadosConsulta">
                <label>Código Empresa</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.cod_empresa }}</b>
                </p>
              </div>

              <div class="dadosConsulta">
                <label>Prioridade</label>
                <div class="linhaE"></div>
                <p>
                  <b style="text-transform: capitalize">{{
                    titular.prioridade
                  }}</b>
                </p>
              </div>

              <div class="dadosConsulta important">
                <label>Número da Carteirinha</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.carteirinha }}</b>
                </p>
              </div>

              <div
                class="dadosConsulta"
                [ngClass]="
                  titular.ativo == true ? 'status-ativo' : 'status-cancelado'
                "
              >
                <label>Status Sistema</label>
                <div class="linhaE"></div>
                <p>
                  <b *ngIf="titular.ativo == true; else cancelado">Ativo</b>
                  <ng-template #cancelado>
                    <b>Cancelado</b>
                  </ng-template>
                </p>
              </div>
            </div>

            <div style="width: 100%; margin-top: 10px">
              <h3></h3>
              <hr />
            </div>

            <div class="form-row">
              <div class="dadosConsulta mae">
                <label>Nome da Mãe</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.nome_mae }}</b>
                </p>
              </div>

              <div class="dadosConsulta">
                <label>Celular</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.celular }}</b>
                </p>
              </div>

              <div class="dadosConsulta parentesco">
                <label>Tipo</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.tipo }}</b>
                </p>
              </div>

              <div class="dadosConsulta parentesco">
                <label>Sexo</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.sexo }}</b>
                </p>
              </div>

              <div class="dadosConsulta parentesco">
                <label>Estado Civil</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.estado_civil }}</b>
                </p>
              </div>

              <div
                style="
                  width: 1px;
                  height: auto;
                  background-color: #ced4da;
                  margin-left: 30px;
                  margin-right: 30px;
                "
              ></div>
              <div class="dadosConsulta">
                <label>CEP</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.CEP }}</b>
                </p>
              </div>

              <div class="dadosConsulta">
                <label>Cidade</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.cidade }}</b>
                </p>
              </div>

              <div class="dadosConsulta">
                <label>Estado UF</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.estado }}</b>
                </p>
              </div>

              <div style="width: 100%; margin-top: 10px">
                <hr />
              </div>
              <div class="dadosConsulta">
                <label>Data de Recebimento</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ data(titular.data_recebimento) }}</b>
                </p>
              </div>

              <div class="dadosConsulta">
                <label>Data de Admissão</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ data(titular.data_admissao) }}</b>
                </p>
              </div>

              <div class="dadosConsulta parentesco">
                <label>Data de Casamento</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ data(titular.data_casamento) }}</b>
                  <b *ngIf="titular.data_casamento == null">Nenhuma data</b>
                </p>
              </div>
            </div>

            <div class="form-row">
              <div style="width: 100%; margin-top: 10px">
                <hr />
              </div>
              <div class="dadosConsulta important">
                <label>Declaração de Saúde </label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.declaracao_saude }}</b>
                </p>
              </div>

              <div class="dadosConsulta important">
                <label>Descrição Declaração Saúde</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.desc_declarao_saude }}</b>
                  <b *ngIf="titular.desc_declarao_saude == null"
                    >Nenhuma declaração de saúde</b
                  >
                </p>
              </div>

              <div class="dadosConsulta obs">
                <label>Observações</label>
                <div class="linhaE"></div>
                <p>
                  <b>{{ titular.observacoes }}</b>
                  <b *ngIf="titular.observacoes == null">Nenhuma observação</b>
                </p>
              </div>

              <!--  -->
            </div>
            <hr />
          </form>
        </div>

        <!--  -->
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
<script>
  document.title = "Consulta titular";
</script>
