<!--  -->

<div
  class="
    app-container app-theme-white
    body-tabs-shadow
    fixed-sidebar fixed-header
  "
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div routerLink="/" class="logo-src"></div>
      <div class="header__pane ml-auto">
        <div>
          <button
            type="button"
            class="hamburger close-sidebar-btn hamburger--elastic"
            data-class="closed-sidebar"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button
          type="button"
          class="hamburger hamburger--elastic mobile-toggle-nav"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
      <span>
        <button
          type="button"
          class="
            btn-icon btn-icon-only btn btn-primary btn-sm
            mobile-toggle-header-nav
          "
        >
          <span class="btn-icon-wrapper">
            <i class="fa fa-ellipsis-v fa-w-6"></i>
          </span>
        </button>
      </span>
    </div>
    <div class="app-header__content">
      <div class="app-header-left">
        <ul class="header-menu nav">
          <li class="btn-group nav-item">
            <a id="tarefas-bt" class="nav-link">
              <i class="nav-link-icon fa fa-edit"></i> Lista de Tarefas
            </a>
          </li>
          <li class="dropdown nav-item">
            <a id="config-bt" class="nav-link">
              <i class="nav-link-icon fa fa-cog"></i> Configurações
            </a>
          </li>
        </ul>
      </div>
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div class="btn-group">
                  <a
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="p-0 btn"
                  >
                    <img
                      width="42"
                      class="rounded-circle"
                      src="./assets/static/CSS/assets/images/avatars/user.jpg"
                      alt=""
                    />
                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                  </a>
                  <div
                    tabindex="-1"
                    role="menu"
                    aria-hidden="true"
                    class="dropdown-menu dropdown-menu-right"
                  >
                    <button
                      routerLink="/profile"
                      type="button"
                      tabindex="0"
                      class="dropdown-item"
                    >
                      Meu Usuário
                    </button>
                    <button
                      routerLink="/reset-password"
                      type="button"
                      tabindex="0"
                      class="dropdown-item"
                    >
                      Resetar Senha
                    </button>
                    <!-- <h6 tabindex="-1" class="dropdown-header"></h6> -->
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button
                      routerLink="/login"
                      type="button"
                      tabindex="0"
                      class="dropdown-item"
                      (click)="logout()"
                    >
                      Sair do sistema
                    </button>
                  </div>
                </div>
              </div>
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">{{ usuario.username }}</div>
                <div class="widget-subheading">Cargo do funcionário</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="
                    btn-shadow
                    p-1
                    btn btn-primary btn-sm
                    show-toastr-example
                  "
                >
                  <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <app-sidebar></app-sidebar>
    <!-- APPS APARECERAO AQUI -->

    <div id="conteudo"></div>

    <div class="box-text">
      <a id="fechar-bt">
        <div class="fechar-button">X</div>
      </a>
      <div class="text-info-box">
        <h2 class="titulo-task">
          <i class="fas fa-edit"></i> Lista de Tarefas:
        </h2>
        <div id="abrirTarefa" class="col-2 add-div" (click)="novaTarefa()">
          <i class="edit-plus fas fa-plus"></i> Adicionar tarefa
        </div>
        <nova-tarefa></nova-tarefa>
        <div class="col-9 search-div">
          <input
            class="form-control"
            type="text"
            id="searchTarefa"
            [(ngModel)]="titulo"
            (input)="searchTarefa()"
            placeholder="Digite o nome da tarefa para buscar"
          />
          <i class="edit-search fas fa-search"></i>
        </div>
        <ul class="task-list">
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            [theme]="{ width: '100%', height: '40px' }"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <span class="task-item loadit" *ngIf="contentLoaded"
            ><li
              [ngClass]="tarefa.status_tarefa ? 'tarefa-completed' : ''"
              *ngFor="
                let tarefa of tarefas
                  | orderBy: 'created_at':false
                  | paginate: { id: 'tarefa', itemsPerPage: 8, currentPage: p }
              "
              (click)="tarefaClicked(tarefa)"
            >
              <i class="fas fa-edit" aria-hidden="true"></i>
              {{ tarefa.titulo }}
            </li>
            <h4
              style="margin-top: 20px; margin-left: 5px;"
              *ngIf="tarefas.length === 0"
            >
              Nada encontrado
            </h4>
          </span>
          <pagination-controls
            id="tarefa"
            class="paginacao-tarefas"
            previousLabel="Anterior"
            maxSize="7"
            autoHide="true"
            nextLabel="Seguinte"
            directionLinks="true"
            responsive="true"
            (pageChange)="p = $event"
          ></pagination-controls>
        </ul>
      </div>
    </div>
    <div id="tarefas"></div>
    <div class="texto-overlay">
      <a id="fechar-bt3">
        <div class="fechar-button2">X</div>
      </a>
      <h2>
        <input
          class="no-borda"
          type="text"
          [(ngModel)]="selected_tarefa.titulo"
        />
      </h2>
      <span>
        <textarea
          class="no-borda2"
          style="min-height: 162px"
          type="text"
          [(ngModel)]="selected_tarefa.descricao"
        ></textarea>
      </span>
      <input
        [(ngModel)]="selected_tarefa.status_tarefa"
        type="checkbox"
        id="status_tarefa"
        name="status_tarefa"
        value="Feito"
      />
      <label style="margin-left: 5px" for="status_tarefa"
        >Completar Tarefa</label
      >
      <!-- <select style="max-width: 80px" [(ngModel)]="selected_tarefa.status_tarefa">
        <option value="Fazendo">Fazendo</option>
        <option value="Feito">Feito</option>
      </select> -->
      <br />
      <div class="posit-bottom">
        <button class="edit-edit" (click)="updateTarefa()">
          <i class="fas fa-edit"></i> Atualizar
        </button>
        <button class="edit-trash" (click)="deleteTarefa()">
          <i class="fas fa-trash"></i> Deletar
        </button>
      </div>
    </div>
    <div id="over-text"></div>

    <!-- INSERT AND DELETE -->

    <!--  -->
    <router-outlet></router-outlet>
  </div>
</div>
