<div class="fadeIn app-main">
  <div class="app-main__outer" style="height: 85vh">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              <b style="font-size: 24px"
                >Bem vindo ao Sistema Nova Rota Seguros</b
              >
              <div class="page-title-subheading" style="font-size: 18px">
                Navegue pelo menu lateral, para começar a utilizar o sistema.
              </div>
              <div id="setaLado">
                <ul class="setaEsquerda"></ul>
              </div>

              <div class="novidades">
                <div class="box-novidades">
                  <h3>
                    <b>
                      <div
                        style="
                          position: absolute;
                          top: -10px;
                          right: -42px;
                          font-size: 31px;
                        "
                        class="page-title-icon"
                      >
                        <i class="fas fa-bell icon-gradient bg-mean-fruit"> </i>
                      </div>
                      Novidades do sistema:</b
                    >
                  </h3>

                  <div
                    class="page-title-subheading item"
                    style="font-size: 18px"
                  >
                    Últimas novidades/alterações do sistema detalhadas.
                  </div>
                  <div
                    style="
                      padding-top: 3px;
                      margin-top: 20px;
                      font-size: 17px;
                      height: 34vh;
                    "
                  >
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      [theme]="{ width: '100%', height: '40px' }"
                      animation="progress"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      [theme]="{ width: '100%', height: '40px' }"
                      animation="progress"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      [theme]="{ width: '100%', height: '40px' }"
                      animation="progress"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      [theme]="{ width: '100%', height: '40px' }"
                      animation="progress"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      [theme]="{ width: '100%', height: '40px' }"
                      animation="progress"
                    >
                    </ngx-skeleton-loader>
                    <div *ngIf="contentLoaded" class="task-item loadit">
                      <li
                        *ngFor="
                          let novidade of novidades
                            | orderBy: 'created_at':false
                            | paginate
                              : {
                                  id: 'novidades',
                                  itemsPerPage: 5,
                                  currentPage: p
                                };
                          let i = index
                        "
                        (click)="novidadeClicked(novidade)"
                      >
                        <i
                          style="padding: 3px; font-size: 15px"
                          class="fas fa-angle-double-right"
                        ></i>
                        {{ novidade.titulo }}
                      </li>
                    </div>
                    <pagination-controls
                      id="novidades"
                      class="paginacao-novidades"
                      previousLabel="Anterior"
                      maxSize="7"
                      autoHide="true"
                      nextLabel="Seguinte"
                      directionLinks="true"
                      responsive="true"
                      (pageChange)="p = $event"
                    ></pagination-controls>
                    <!-- NOVIDADES -->
                    <!-- NOVIDADE ABERTA -->
                    <div class="box-novidade">
                      <a id="fechar-novidade">
                        <div class="fechar-button">X</div>
                      </a>
                      <div class="text-novidade">
                        <ngx-skeleton-loader
                          *ngIf="!contentLoaded"
                          [theme]="{ width: '100%', height: '40px' }"
                          animation="progress"
                        >
                        </ngx-skeleton-loader>
                        <h2 *ngIf="contentLoaded">
                          <i
                            style="
                              color: rgb(255, 255, 255);
                              background-color: var(--cor-tema);
                              padding: 11px;
                              font-size: 23px;
                              border-radius: 50%;
                              position: absolute;
                              top: 11px;
                              left: 9px;
                            "
                            class="fas fa-bell"
                          ></i>
                          {{ selected_novidade.titulo }}
                        </h2>
                        <div style="width: 100%; height: 20px"></div>
                        <ngx-loading
                          [show]="loading"
                          [config]="{ backdropBorderRadius: '3px' }"
                          [template]="customLoadingTemplate"
                        ></ngx-loading>
                        <div>
                          {{ selected_novidade.descricao }}
                        </div>
                        <ng-template #customLoadingTemplate> </ng-template>
                      </div>
                    </div>
                    <div id="novidadeAberta"></div>
                    <!--  -->

                    <!--  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
<script>
  document.title = "Novidades do Sistema";
</script>
