<div class="fadeIn app-main">
    <div class="app-main__outer" style="height: 85vh;">
      <div class="app-main__inner">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
              </div>
              <div>
                <b style="font-size: 24px">Bem vindo ao Sistema Nova Rota Seguros</b>
                <div class="page-title-subheading" style="font-size: 18px;">
                  Navegue pelo menu lateral, para começar a utilizar o sistema.
                </div>
                <div id="setaLado">
                    <ul class="setaEsquerda"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link"> Ajuda </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link">
                    Relatar Problema
                  </a>
                </li>
              </ul>
            </div>
            <div class="app-footer-right">
              <ul class="nav">
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link"> Outros </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link">
                    <div class="badge badge-success mr-1 ml-0"></div>
                    Outros
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.title = "Alteração Dependente Ativo";
  </script>
  