#setaLado {
  width: 100vh;
  min-height: 70vh;
  margin: 20vh auto;
  z-index: 997;
  position: absolute;
  top: 17vh;
  left: 48%;
  margin-right: -50%;
  transform: translate(-60%, -50%);
}
.setaEsquerda {
  background: url(https://1.bp.blogspot.com/-1zz2UBlsDvQ/YNPoubxaO_I/AAAAAAAAHOg/o_tLdfJX35c2PnA03QafTkzHXDVG73UjQCLcBGAsYHQ/s0/seta%2Bpara%2Bo%2Blado.png);
  width: 100%;
  height: 44vh;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 0.079;
}

.novidades {
  z-index: 997;
  position: absolute;
  top: 15vh;
  right: 10px;
}

.box-novidades {
  padding: 15px;
  width: 50vh;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.534);
}

.box-novidades h3 {
  font-size: 24px;
}

/* TELA DE NOVIDADES */

#novidadeAberta {
  z-index: 990;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#novidadeAberta {
  display: none;
}

.text-novidade {
  margin: auto;
  width: 80%;
  margin-top: 29px;
  padding: 10px;
}

.titulo-novi {
  border-radius: 5px;
  line-height: 48px;
  margin-bottom: 13px;
  width: 79%;
}

/* NOVIDADES TITULOS */

.novidade-item li {
  list-style: none;
  font-size: 17px;
  padding-top: 15px;
  border-bottom: 1px #e6e6e6 solid;
  transition: 0.5s;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.novidade-item > li:nth-of-type(odd) {
  background: #eff1f6 ;
}

.novidade-item li:hover {
  color: #fff;
  background: var(--cor-tema);
}

.novidade-item li:focus {
  background: var(--cor-tema);
}

.data-novAbrt{
  font-weight: 300;
  opacity: 0.8;
  border: 2px solid #e2e2e280;
  padding: 10px;
  position: absolute;
  top: 39px;
  right: 98px;
  border-radius: 5px;
}

.data-novTit{
  background: #fff;
  font-weight: 300;
  opacity: 0.7;
  border: 2px solid #e2e2e280;
  padding: 7px;
  position: absolute;
  right: 25px;
  font-size: 12px;
  margin-top: -31px;
  color: #000;
  transition: 0.3s;
  border-radius: 5px;
}

.data-novTit:hover{
  opacity: 1.0;
  background-color: var(--cor-tema);
}
.box-novidade {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: #ffffff;
  max-width: 90vh;
  width: 90vh;
  min-height: 55vh;
  margin: 10vh auto;
  z-index: 997;
  position: fixed;
  top: 40vh;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.box-novidade {
  display: none;
}

.paginacao-novidades {
  position: absolute;
  bottom: 7px;
  margin-left: 9%;
  width: 250px;
  font-size: 15px;
}
