<div id="criar-conta">
    <div class="box-criar-conta">
      <div class="text-info-box-criar-conta">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="login-wrap p-4 p-lg-5">
                  <div class="d-flex">
                      <div class="w-100">
                          <h3 class="mb-4">Criar uma conta</h3>
                      </div>
                  </div>
                        <form action="#" class="signin-form">
                      <div class="form-group mb-3">
                          <label class="label" for="name">Usuário</label>
                          <input type="text" class="form-control" placeholder="Digite seu usuário" required>
                      </div>
                      <div class="form-group mb-3">
                        <label class="label" for="name">Email</label>
                        <input type="email" class="form-control" placeholder="Digite seu email" required>
                    </div>
                <div class="form-group mb-3">
                    <label class="label" for="password">Senha</label>
                  <input type="password" class="form-control" placeholder="Digite sua senha" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3"><i style="margin-right: 7px;" class="fas fa-plus"></i>CRIAR CONTA</button>
                </div>
              </form>
            </div>
          </div>
            </div>
        </div>
      </div>
    </div>
  </div>