<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-user-plus icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Alteração Dependente Ativo
              <div class="page-title-subheading">
                Alteração de dados - Dependente Ativo.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta2" class="main-card mb-3 card">
        <nav class="menuVigencia">
          <ul class="menuItems">
            <li class="active radiusTop" (click)="depAtivo()">
              <i
                class="fas fa-user-check"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Dependentes Ativos
            </li>

            <li class="cancelados" (click)="depCancelado()">
              <i
                class="fas fa-user-slash"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Dependentes Cancelados
            </li>
          </ul>
        </nav>
        <div class="card-body">
          <h5 class="card-title">Consultar Dependente</h5>
          <form class="needs-validation">
            <div class="form-row">
              <div class="input-group col-md-3 mb3">
                <label for="validationCustom01">CPF:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  name="CPF"
                  (input)="searchCPF($event.target.value)"
                  class="form-control cpf"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CPF"
                />
              </div>
              <!-- (keypress)="textOnly($event)" -->
              <div class="input-group col-md-4 mb3">
                <label for="validationCustom01">Nome do Dependente:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-user-plus"></i
                ></span>
                <input
                  (input)="searchNomeBenef($event.target.value)"
                  name="nome_dependente"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do dependente"
                />
              </div>
            </div>
            <div style="width: 100%; height: 10px"></div>

            <hr />

            <div>
              <div class="titulares">
                Dependentes Encontrados:
                <li
                  class="loadit"
                  *ngFor="
                    let resultado of busca
                      | orderBy: 'created_at':false
                      | paginate
                        : {
                            id: 'dependentesAlteracao',
                            itemsPerPage: 14,
                            currentPage: p
                          }
                  "
                  (click)="dependenteClicked(resultado)"
                  [ngClass]="resultado.prioridade == 'prioridade' ? 'prioridade': 'sem-prioridade'"

                >
                  <i
                    style="
                      font-size: 18px;
                      margin-left: 9px;
                      margin-right: 1px;
                      background-color: #eff9ff;
                      border: 1px solid #ced4da;
                      border-radius: 0.25rem;
                      padding: 3px;
                      color: #434343;
                    "
                    class="fas fa-user-plus"
                  ></i>
                  CPF: {{ resultado.CPF | mask: "000.000.000-99" }} -
                  {{ resultado.nome_dependente }}
                  <i
                    style="float: right; margin-top: 4px"
                    class="fas fa-external-link-alt"
                  ></i>
                </li>
                <h4
                  class="loadit"
                  style="margin-top: 20px"
                  *ngIf="busca.length === 0"
                >
                  Nada encontrado
                </h4>
              </div>
            </div>
            <pagination-controls
              id="dependentesAlteracao"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
      <div id="dependentesappear" class="main-card mb-3 card">
        <h1
          class="titular-ts"
          style="margin-left: 20px; margin-right: 20px; padding-top: 20px"
        >
          <div id="voltardadosdep" class="voltar">
            <i class="fas fa-chevron-left"></i>
          </div>
          {{ dependente.nome_dependente }}
          <p class="cpf-ts">
            Inscrito(a) sob CPF:
            {{ dependente.CPF | mask: "000.000.000-99" }}
          </p>
          <p class="cpf-ts">
            Dependente de:
            <i
              style="
                font-size: 18px;
                margin-left: 9px;
                margin-right: 1px;
                background-color: #eff9ff;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                padding: 7px;
              "
              class="fas fa-user-tie"
            ></i>
            <b
              style="
                padding-right: 5px;
                padding-bottom: 4px;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
              "
            >
              {{ dependente.titular_nome }}
            </b>
          </p>

          <div class="botao-anexosAlt">
            <button
              class="btn btn-primary"
              style="width: 160px"
              id="abrirAnexoAltDependente"
            >
              <i style="margin-right: 6px" class="fas fa-file-image"></i>Abrir
              Anexos
            </button>
          </div>
        </h1>

        <!-- TELA DE ANEXOS DE CASAMENTO -->
        <div id="vinc-anexo-casadoAlt">
          <div class="box-anexo">
            <div class="anexo-info-box-titular-vinc">
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
                >Anexos vinculados:</label
              >

              <img
                style="width: 250px"
                src="{{ dependente.anexo_doc_casamento }}"
                alt="Certidão de Casamento de {{ dependente.nome_dependente }}"
              />
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 17px;
                  margin-top: 25px;
                  margin-bottom: 10px;
                "
                >Escolha uma outra imagem para anexar:</label
              >

              <input
                type="file"
                id="imagemCasado"
                accept="image/png, image/jpeg"
                [(ngModel)]="dependente.anexo_doc_casamento"
                name="anexo_doc_casamento"
                ng-required="false"
              />

              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                "
                class="btn btn-primary"
                id="fecharAnexoAltDependente"
              >
                Fechar tela
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div id="postDepConsulta" class="card-body">
          <h5 class="card-title">ALTERE OS CAMPOS ABAIXO:</h5>
          <hr />
          <form class="needs-validation">
            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CPF</label>
                <input
                  maxlength="11"
                  autocomplete="off"
                  mask="000.000.000-00"
                  [(ngModel)]="dependente.CPF"
                  name="CPF"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                />

                <div class="invalid-feedback">
                  Por favor informe o número do CPF corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input
                  autocomplete="off"
                  [(ngModel)]="dependente.cod_empresa"
                  name="cod_empresa"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                  required
                />

                <div class="invalid-feedback">
                  Por favor informe o número do Código corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Recebimento</label>
                <input
                  [(ngModel)]="dependente.data_recebimento"
                  name="data_recebimento"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de recebimento"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  readonly="True"
                  type="text"
                  class="form-control"
                  [value]="dependente.prioridade"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Número da Carteirinha</label>
                <input
                  autocomplete="off"
                  [(ngModel)]="dependente.carteirinha"
                  name="carteirinha"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o número"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome do Dependente</label>
                <input
                  [(ngModel)]="dependente.nome_dependente"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Beneficiário"
                  required
                />
              </div>

              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="dependente.tipo"
                  name="tipo"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Sexo</label>
                <select
                  [(ngModel)]="dependente.sexo"
                  name="sexo"
                  class="form-control"
                  name="sexo"
                  required
                >
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Estado Civil</label>
                <select
                  [(ngModel)]="dependente.estado_civil"
                  name="estado_civil"
                  class="form-control"
                  name="estado_civil"
                  required
                >
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome da Mãe</label>
                <input
                  [(ngModel)]="dependente.nome_mae"
                  name="nome_mae"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Mãe"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Admissão</label>
                <input
                  [(ngModel)]="dependente.data_admissao"
                  name="data_admissao"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de admissão"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="dependente.data_casamento"
                  name="data_casamento"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data do casamento"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Parentesco</label>
                <input
                  [(ngModel)]="dependente.tipo_parentesco"
                  name="tipo_parentesco"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Sem Parentesco"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CEP</label>
                <input
                  [(ngModel)]="dependente.CEP"
                  name="CEP"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  [(ngModel)]="dependente.celular"
                  name="celular"
                  type="text"
                  class="form-control phone_with_ddd"
                  placeholder="Informe o Celular"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input
                  [(ngModel)]="dependente.cidade"
                  name="cidade"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                  required
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select
                  [(ngModel)]="dependente.estado"
                  name="estado_uf"
                  class="form-control"
                  name="estado_uf"
                  required
                >
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Declaração de Saúde <span style="color: red">*</span></label
                >
                <select
                  id="declaracaoSaudeDependente"
                  #declaracao_saude="ngModel"
                  [class.is-invalid]="
                    declaracao_saude.invalid && declaracao_saude.touched
                  "
                  [class.is-valid]="
                    declaracao_saude.valid && declaracao_saude.touched
                  "
                  class="form-control"
                  name="declaracao_saude"
                  [(ngModel)]="dependente.declaracao_saude"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Sim">Sim</option>
                  <option value="Nao">Não</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  name="status"
                  type="text"
                  class="form-control"
                  id="validationCustom10"
                  [value]="dependente.ativo ? 'Ativo': 'Cancelado'"
                  required
                />
              </div>

              <div class="col-md-4 mb-4">
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde</label
                >
                <input
                  [(ngModel)]="dependente.desc_declarao_saude"
                  name="desc_declarao_saude"
                  type="text"
                  class="form-control"
                  id="validationCustom12"
                  placeholder="Informe aqui exatamente como está na declaração"
                  required
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="dependente.observacoes"
                  name="observacoes"
                  type="text"
                  class="form-control"
                  id="validationCustom11"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                  required
                />
              </div>

              <!--  -->
              <small
                class="text-danger"
                [class.d-none]="titular.valid || titular.untouched"
              >
                <i class="fas fa-times"></i> Titular Vinculado
                Necessário!</small
              >
              <div class="vinc-tit">
                <div class="posit-btn">
                  <button id="alterar-titular-btn" class="btn-vincular">
                    <i style="margin-right: 5px" class="fas fa-user-tie"></i>
                    Vincular outro Titular
                  </button>
                  <p id="encounter-tit" style="display: none">
                    Titular vinculado:
                    <b>{{ dependente.nome_benef }}</b>
                  </p>
                </div>
              </div>

              <div id="alterar-titular">
                <div class="box-titular">
                  <div class="text-info-box-titular-vinc">
                    <label for="validationCustom05"
                      >Vincular outro Titular</label
                    >
                    <div class="input-group col-md-5 mb4">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fas fa-id-card"></i
                      ></span>
                      <input
                        autocomplete="off"
                        (input)="searchNomeTitDep($event.target.value)"
                        name="nome_benef"
                        type="text"
                        class="form-control"
                        placeholder="Buscar Titular pelo Nome"
                      />
                    </div>
                    <div style="width: 100%; height: 15px"></div>
                    <hr />
                    <em for="validationCustom05">Titulares Encontrados:</em>

                    <input
                      #titular="ngModel"
                      style="display: none"
                      value=""
                      class="titulares-checkbox"
                      [(ngModel)]="dependente.titular"
                      name="titular"
                      [class.is-invalid]="titular.invalid && titular.touched"
                      [class.is-valid]="titular.valid && titular.touched"
                      required
                    />
                    <div *ngIf="contentLoaded" class="titulares-checkbox">
                      <li
                        class="loadit"
                        value="{{ titular.id }}"
                        *ngFor="
                          let resultadoTitular of buscaTitularAlt
                            | orderBy: 'created_at':false
                            | paginate
                              : {
                                  id: 'titularvinculo',
                                  itemsPerPage: 12,
                                  currentPage: p
                                }
                        "
                        (click)="titularClickedDependente(resultadoTitular)"
                        [ngClass]="tipoPrioridade(resultado.criado_em) == 'Prioridade' ? 'prioridade': 'sem-prioridade'"
                      >
                        <i
                          style="
                            font-size: 18px;
                            margin-left: 9px;
                            margin-right: 1px;
                            background-color: #eff9ff;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem;
                            padding: 3px;
                            color: #434343;
                          "
                          class="fas fa-user-tie"
                        ></i>
                        CPF:
                        {{ resultadoTitular.CPF | mask: "000.000.000-99" }} -
                        {{ resultadoTitular.nome_benef }}
                      </li>
                      <h4 class="loadit" *ngIf="buscaTitularAlt.length === 0">
                        Nada encontrado
                      </h4>
                    </div>
                    <pagination-controls
                      id="titularvinculo"
                      class="paginacao-tit"
                      previousLabel="Anterior"
                      nextLabel="Seguinte"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>

              <!--  -->
            </div>
            <button class="btn btn-primary" (click)="updateDependente()">
              <i class="fas fa-check"></i> Alterar Dependente
            </button>
          </form>
        </div>

        <!--  -->
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
<script>
  document.title = "Alteração Dependente Ativo";
</script>
