/* REGRAS DE CORES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --cor-tema: #007124;
  --cor-botao: #007124;
  --cor-botao-hover: #004b18;
  --cor-cancelar: #d92550;
  --cor-cancelar-hover: #a11b3a;
  --branco: #ffffff;
  /*  */
  --fundo-preto: #000000;
}
