<div class="fadeIn fundo-login">
  <criar-conta></criar-conta>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div
              class="
                text-wrap
                p-4 p-lg-5
                text-center
                d-flex
                align-items-center
                order-md-last
              "
            >
              <div class="text w-100">
                <h2>Bem vindo ao Sistema</h2>
                <h2>Nova Rota Seguros</h2>
                <p>Primeiro acesso?</p>
                <a
                  id="register"
                  class="btn btn-white btn-outline-white"
                  >Criar um acesso agora</a
                >
              </div>
            </div>
            <div class="login-wrap p-4 p-lg-5">
              <div style="margin-top: 3.5em"></div>

              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Acessar o sistema</h3>
                </div>
              </div>
              <form class="signin-form" (submit)="login()">
                <div class="form-group mb-3">
                  <label class="label" for="username">Usuário</label>
                  <input
                    [(ngModel)]="usuario.username"
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Digite seu usuário"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="password">Senha</label>
                  <input
                  [(ngModel)]="usuario.password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Digite sua senha"
                    required
                  />
                </div>
                <div style="height: 20px"></div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    <i class="fas fa-sign-in-alt"></i> ENTRAR NO SISTEMA
                  </button>
                </div>
                <div style="margin-top: 20px">
                  <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                      <label class="checkbox-wrap checkbox-primary mb-0"
                        >Lembrar-me
                        <input type="checkbox" checked />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="w-50 text-md-right">
                      <a routerLink="/reset-password">Esqueci a senha</a>
                    </div>
                  </div>
                </div>
                <div
                  style="
                    position: absolute;
                    bottom: 25px;
                    width: 90%;
                    text-align: center;
                  "
                >
                  <a class="btn btn-green btn-outline-green" id="politica-abrir"
                    >Politica de Privacidade</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="box-tela-privacidade">
    <div class="text-info-box">
      <h2>Medidas de segurança</h2>
      A segurança de seus dados pessoais é importante para nós. Seguimos os
      padrões aceitos no ramo para proteger as suas informações pessoais que nos
      são enviadas tanto durante a transmissão de dados quanto após o
      recebimento deles. Quando digitamos informações sigilosas em nossos
      formulários, elas são criptografadas para a transmissão, usando a
      tecnologia SSL (Camada de sockets protegida). Sempre tenha cautela com as
      informações pessoais que você fornece a qualquer pessoa nesses contextos.
      Também insistimos na verificação da senha ao fazer login, para que você e
      seus dados estejam protegidos contra acessos sem autorização. Se você
      parar de usar o computador por muito tempo sem encerrar a sua sessão, ela
      será encerrada automaticamente após certo tempo. Apenas funcionários que
      precisem da informação para realizar certas tarefas (como cobrança ou
      atendimento, por exemplo) têm acesso a informações pessoais. Os servidores
      nos quais armazenamos suas informações são mantidos em ambiente seguro.
      Apesar das práticas e procedimentos de segurança, como acontece com toda e
      qualquer rede de computadores na internet, o sistema está utilizando
      camadas de proteções de criptografia com uso de CSRF (Falsificação de
      solicitação entre sites) e Tokens de validações sejam eles transmissões
      ponta a ponta.

      <h2>Web Beacons</h2>
      Usamos uma tecnologia chamada clear gifs (também conhecida como web
      beacons ou web bugs), que ajuda a gerenciar melhor o conteúdo do sistema,
      informando qual funciona melhor. Os clear gifs são pequenos gráficos com
      um identificador único e têm função similar aos cookies – são usados para
      rastrear os movimentos online de usuários da internet. Porém, ao contrário
      dos cookies, que ficam no computador do usuário, os clear gifs são
      incorporados na própria página e são do tamanho de um ponto. Não
      utilizamos os clear gifs que contêm informações pessoais de nossos
      clientes. Usamos clear gifs em nossos e-mails com formato HTML para
      sabermos quais são abertos pelos destinatários. Assim, podemos medir a
      eficácia de certas comunicações e de nossas campanhas. Em alguns e-mails,
      colocamos conteúdo com links para clicar e ser redirecionado para o site
      do Chave do Coração do Homem. Quando os alunos e/ou clientes clicam em um
      desses links, passam por um servidor à parte antes de chegar à página de
      destino. Rastreamos os dados de cliques para determinar o interesse por
      cada assunto e medirmos a eficiência de nossas comunicações com o aluno.
      Caso prefira não ser rastreado assim, não clique em links de texto ou
      imagens em seus e-mails. Com quem compartilhamos suas informações
      Coletamos dados pessoais para a gestão de funcionamento da empresa.
      Podemos fornecer seus dados a empresas que prestem serviços e que nos
      ajudem em nossas atividades, como o processamento de pagamentos ou a
      oferta de atendimento. Essas empresas estão autorizadas a usar seus dados
      apenas se necessário para prestação de serviços a nós. Também podemos
      passar seus dados: – conforme exigido por lei para atender a intimações ou
      processos legais similares; – quando acreditarmos, de boa-fé, que a quebra
      de sigilo é necessária para protegermos nossos direitos, proteger sua
      segurança ou a segurança de outros, investigar fraudes ou atender a um
      pedido do governo; – caso a Universidade da Franquia se envolva numa
      fusão, aquisição, ou seja vendida em termos ou ao todo, você será
      notificado por e-mail, ou por um aviso bem claro em nosso site, de
      qualquer mudança nesse sentido, ou no uso de suas informações pessoais,
      bem como de qualquer nova situação que envolva os seus dados pessoais
      sendo divulgados a terceiros, a fim de que isso nunca seja feito sem
      consentimento.

      <h2>Cookies</h2>
      “Cookies” são pequenas informações que gravamos no browser que você
      utiliza para navegar ou no hard drive. Nós e nossos parceiros usamos os
      cookies para nos lembrarmos de informações pessoais quando você visita
      nosso site. Por exemplo, caso opte por visualizar nosso site em francês,
      armazenaremos essa informação nos cookies para que mostremos o site sempre
      em francês para você. Também usamos os cookies para gravar seu login, a
      fim de facilitar seu acesso ao site. A maioria dos browsers permite que
      você opte por não permitir que cookies sejam armazenados em seu
      computador. Usamos cookies para a sessão e cookies persistentes. O cookie
      de sessão expira assim que você fecha o browser. O cookie persistente
      continua em seu computador por um período maior. Além disso, usamos um
      prestador de serviços para rastrear o comportamento de visitantes em nosso
      site. Contudo, não temos acesso a seus cookies, tampouco os controlamos.
      As informações coletadas pela empresa prestadora de serviços são anônimas
      e usadas para melhorar nossos serviços e campanhas de marketing. Como
      acontece na maioria dos sites, recolhemos informações automaticamente e as
      salvamos em arquivos. Nessas informações, estão inclusos o endereço de IP,
      tipo de browser e idioma, provedor de serviço, páginas de referência,
      sistema operacional, data/hora e informações de cliques no site. Usamos
      essas informações para entender e analisar tendências, administrar o site,
      aprender sobre o comportamento dos usuários e reunir informações
      demográficas sobre nossa base de usuários como um todo.
    </div>
  </div>
</div>
<div id="politica"></div>
