/* TELA DE ANEXO DE DOCUMENTO DA EMPRESA */
#vinc-anexo-empresa {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinc-anexo-empresa {
  display: none;
}
/*  */

.anexo-info-box-empresa-vinc {
  margin: auto;
  width: 80%;
  margin-top: 29px;
  padding: 10px;
}

.margEmp {
  margin-top: -20px;
}

.box-anexo {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: #ffffff;
  max-width: 125vh;
  width: 70vh;
  min-height: 30vh;
  margin: 10vh auto;
  z-index: 997;
  position: fixed;
  top: 40vh;
  left: 58%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* TELA DE VIGÊNCIA */
#vinc-vigencia {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinc-vigencia {
  display: none;
}

.box-vigencia {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: #ffffff;
  max-width: 125vh;
  width: 100vh;
  min-height: 30vh;
  margin: 12vh auto;
  z-index: 997;
  position: fixed;
  top: 32vh;
  left: 58%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.menuVigencia {
  display: block;
  left: 10px;
  border-bottom: 2px solid var(--cor-tema);
  margin-bottom: 24px;
}

.radiusTop {
  border-radius: 7px 0px 0px 0px;
}

.menuVigencia .menuItems {
  margin-bottom: -2px;
  list-style: none;
  display: flex;
  margin-left: -41px;
}
.menuVigencia .menuItems li {
  display: block;
  font-weight: 500;
  padding: 21px;
  text-decoration: none;
  color: #495057;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.menuVigencia .menuItems li.active {
  display: block;
  background: linear-gradient(0deg, #0c5d24 0%, #11963c 100%);
  padding: 21px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  animation: slide-in 0.2s ease-in-out;
  /* border: 2px solid #ffffff29; */
}

.menuVigencia .menuItems li.active:hover {
  transform: translate(0px, 0px);
}

@keyframes slide-in {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.menuVigencia .menuItems li:hover {
  display: block;
  transform: translate(0px, -4px);
  transition: all 0.2s ease-in-out;
}

.menuVigencia .menuItems li::before {
  display: block;
  content: attr(data-item);
  transition: 0.2s;
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 21px;
  right: 0;
  width: 0;
  overflow: hidden;
  cursor: pointer;
  color: var(--branco);
}
.menuVigencia .menuItems li:hover::before {
  display: block;
  width: 67%;
  height: 130%;
  transition: all 0.59s ease-in-out;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  padding-left: 8px;
  border-color: #3ac47d;
  padding-right: 0.35rem !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  padding-left: 8px;
  border-color: #d92550;
  padding-right: 1.25rem;
}
