/* TELA DE VIGÊNCIA */
#vinc-vigencia {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinc-vinc-vigencia {
  display: none;
}

/* TELA DE ANEXO DE DOCUMENTO DA EMPRESA */
#vinc-anexo-empresa {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinc-anexo-empresa {
  display: none;
}
/*  */

.anexo-info-box-empresa-vinc {
  margin: auto;
  width: 80%;
  margin-top: 29px;
  padding: 10px;
}

.box-anexo {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: #ffffff;
  max-width: 125vh;
  width: 70vh;
  min-height: 30vh;
  margin: 10vh auto;
  z-index: 997;
  position: fixed;
  top: 40vh;
  left: 58%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.box-vigencia {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: #ffffff;
  max-width: 125vh;
  width: 70vh;
  min-height: 30vh;
  margin: 10vh auto;
  z-index: 997;
  position: fixed;
  top: 20vh;
  left: 58%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #3ac47d;
  padding-right: 1.25rem !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #d92550;
  padding-right: 1.85rem;
}