<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-building icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Inclusão de Empresa Principal
              <div class="page-title-subheading">
                Nova Empresa Principal Ativa.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Preencha os campos abaixo:</h5>

          <div class="form-check">
            <input
              [(ngModel)]="empresa.is_filial" 
              id="filial" class="form-check-input" type="checkbox" id="filial"
            >
            <label class="form-check-label" for="filial">
              Filial
            </label>
          </div>

          <form class="needs-validation" #empresaForm="ngForm" ENCTYPE="multipart/form-data" novalidate>
            <div id="divFilial" class="form-row" style="display: none;">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CNPJ da Empresa Principal</label>
                <input 
                  #CNPJ_empresa_principal="ngModel" autocomplete="off" 
                  [(ngModel)]="empresa.CNPJ_empresa_principal"
                  [class.is-invalid]="CNPJ_empresa_principal.invalid && CNPJ_empresa_principal.touched"
                  [class.is-valid]="CNPJ_empresa_principal.valid && CNPJ_empresa_principal.touched" 
                  pattern="^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$"
                  id="CNPJ_empresa_principal" name="CNPJ_empresa_principal" type="text" class="form-control cnpj"
                  placeholder="Número de CNPJ"  
                >
                <div *ngIf="CNPJ_empresa_principal.errors && (CNPJ_empresa_principal.valid || CNPJ_empresa_principal.touched)">
                  <small class="text-danger" *ngIf="CNPJ_empresa_principal.errors.required">CNPJ Necessário!</small>
                  <small class="text-danger" *ngIf="CNPJ_empresa_principal.errors.pattern">CNPJ Digitos Incompletos!</small>
                </div>
              </div>

              <div class="col-md-4 mb-2">
                <label for="validationCustom01"> Razão social da Empresa Principal</label>
                <input 
                  #razao_social_principal="ngModel" 
                  [(ngModel)]="empresa.razao_social_principal"
                  [class.is-invalid]="razao_social_principal.invalid && razao_social_principal.touched" 
                  [class.is-valid]="razao_social_principal.valid && razao_social_principal.touched" 
                  id="razao_social_principal" name="razao_social_principal" type="text" class="form-control" 
                  placeholder="Digite aqui a Razão Social" 
                />
                <small class="text-danger" [class.d-none]="razao_social_principal.valid || razao_social_principal.untouched">
                  Razão SocialNecessária!
                </small>
              </div>
            </div>
            <hr>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CNPJ</label>
                <input 
                  #CNPJ="ngModel" autocomplete="off" 
                  [(ngModel)]="empresa.CNPJ" 
                  [class.is-invalid]="CNPJ.invalid && CNPJ.touched"
                  [class.is-valid]="CNPJ.valid && CNPJ.touched" 
                  pattern="^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$"
                  name="CNPJ" type="text" class="form-control cnpj"
                  placeholder="Número de CNPJ" 
                  required 
                />

                <div *ngIf="CNPJ.errors && (CNPJ.valid || CNPJ.touched)">
                  <small class="text-danger" *ngIf="CNPJ.errors.required">CNPJ Necessário!</small>
                  <small class="text-danger" *ngIf="CNPJ.errors.pattern">CNPJ Digitos Incompletos!</small>
                </div>
              </div>

              <div class="col-md-4 mb-2">
                <label for="validationCustom01">Razão Social</label>
                <input #razao_social="ngModel" [class.is-invalid]="
                    razao_social.invalid && razao_social.touched
                  " [class.is-valid]="razao_social.valid && razao_social.touched" [(ngModel)]="empresa.razao_social"
                  name="razao_social" type="text" class="form-control" placeholder="Digite aqui a Razão Social"
                  required />
                <small class="text-danger" [class.d-none]="razao_social.valid || razao_social.untouched">Razão Social
                  Necessária!</small>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input #cod_empresa="ngModel" autocomplete="off" [class.is-invalid]="
                    cod_empresa.invalid && cod_empresa.touched
                  " [class.is-valid]="cod_empresa.valid && cod_empresa.touched" [(ngModel)]="empresa.cod_empresa"
                  name="cod_empresa" type="text" class="form-control" placeholder="Código da Empresa" required />
              </div>  

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input readonly="true" type="text" class="form-control" placeholder="OK" />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-3 mr-5">
                <label for="validationCustom01">Vencimento do Boleto</label>
                <input #vencimento_boleto="ngModel" [class.is-invalid]="
                    vencimento_boleto.invalid && vencimento_boleto.touched
                  " [class.is-valid]="
                    vencimento_boleto.valid && vencimento_boleto.touched
                  " [(ngModel)]="empresa.vencimento_boleto" name="vencimento_boleto" type="date" class="form-control"
                  required />
              </div>

              <div class="col-md-2 mb-3 mr-5">
                <label for="validationCustom05">Inicio de Vigência</label>
                <input #inicio_vigencia="ngModel" [class.is-invalid]="
                inicio_vigencia.invalid && inicio_vigencia.touched
                " [class.is-valid]="
                inicio_vigencia.valid && inicio_vigencia.touched
                " [(ngModel)]="empresa.inicio_vigencia" name="inicio_vigencia" type="date" id="dataVigencia"
                  class="form-control" required />

                <!-- BOTÃO REABRIR VIGENCIA -->
                <div id="vigenciaTela" style="display: none; z-index: 999">
                  <button style="position: absolute; right: -44px; top: 31px" class="btn btn-primary"
                    id="abrirVigencia">
                    <i class="fas fa-building" style="font-size: 15px"></i>
                  </button>
                </div>
                <!--  -->
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Recebimento</label>
                <input #data_recebimento="ngModel" [class.is-invalid]="
              data_recebimento.invalid && data_recebimento.touched
              " [class.is-valid]="
              data_recebimento.valid && data_recebimento.touched
              " [(ngModel)]="empresa.data_recebimento" name="data_recebimento" type="date" id="dataRecebimento"
                  class="form-control" required />

                <!-- BOTÃO REANEXAR DOCUMENTO DA EMPRESA -->
                <div id="reanexar5" style="display: none">
                  <button style="position: absolute; right: -44px; top: 31px" class="btn btn-primary" id="abrirAnexo5">
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>

                <!--  -->
              </div>
            </div>

            <div class="form-row">
              <!-- VINCULAR ANEXO DO DOCUMENTO DA EMPRESA -->
              <div id="vinc-anexo-empresa">
                <div class="box-anexo">
                  <div class="anexo-info-box-empresa-vinc">
                    <h1 style="
                            font-size: 20px;
                            display: flex;
                            margin-top: -15px;
                            margin-bottom: 15px;
                          ">
                      Anexar Documento da Empresa:
                    </h1>
                    <label for="avatar">Escolha um arquivo para anexar:</label>
                    <div style="height: 10px; width: 100%"></div>

                    <input type="file" id="imagemEmpregaticio" accept=".png, .jpg, .jpeg"
                      [(ngModel)]="empresa.anexo_doc_emp" name="vinculo_empregaticio" />

                    <button style="
                        display: flex;
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                      " class="btn btn-primary" id="fecharAnexo5">
                      Anexar Arquivo
                    </button>
                  </div>
                </div>
              </div>


              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input #celular="ngModel" [class.is-invalid]="celular.invalid && celular.touched"
                  [class.is-valid]="celular.valid && celular.touched" required [(ngModel)]="empresa.celular"
                  name="celular" type="text" class="form-control celular" placeholder="Informe o Celular" />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input #cidade="ngModel" [class.is-invalid]="cidade.invalid && cidade.touched"
                  [class.is-valid]="cidade.valid && cidade.touched" required [(ngModel)]="empresa.cidade" name="cidade"
                  type="text" class="form-control" placeholder="Cidade" />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select #estado="ngModel" [class.is-invalid]="estado.invalid && estado.touched"
                  [class.is-valid]="estado.valid && estado.touched" required [(ngModel)]="empresa.estado"
                  name="estado_uf" class="form-control" name="estado_uf">
                  <option value="">Selecione</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Tipo de Contrato</label>
                <select #tipo_contrato="ngModel" [class.is-invalid]="
                    tipo_contrato.invalid && tipo_contrato.touched
                  " [class.is-valid]="
                    tipo_contrato.valid && tipo_contrato.touched
                  " [(ngModel)]="empresa.tipo_contrato" name="sexo" class="form-control" name="tipo_contrato"
                  id="tipo_contrato" required>
                  <option value="">Selecione aqui</option>
                  <option value="Operadora">Operadora</option>
                  <option value="Seguradora">Seguradora</option>
                </select>
              </div>

              <div class="col-md-5 mb-2">
                <label for="validationCustom05">Observações</label>
                <input [(ngModel)]="empresa.observacoes" name="observacoes" type="text" class="form-control"
                  placeholder="Informe aqui aspectos importantes para o movimentação" />
              </div>
            </div>
          </form>

          <!-- Bloco da operadora -->
          <div id="operadora" style="display: none;">
            <form #operadoraForm="ngForm" id="formularioOperadora">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="validationCustom02">Operadoras</label>
                  <select 
                    #operadora_tipo="ngModel" 
                    [class.is-invalid]="operadora_tipo.invalid && operadora_tipo.touched"
                    [class.is-valid]="operadora_tipo.valid && operadora_tipo.touched" 
                    [(ngModel)]="contratoOperadora.tipo"
                    name="operadora" class="form-control" 
                    required
                  >
                    <option value="">Selecione aqui</option>
                    <option value="Saude">Saúde</option>
                    <option value="Odonto">Odonto</option>
                  </select>
                </div>

                <!-- NOME DA OPERADORA  -->
                <div id="nome_operadora" class="col-md-4 mb-3">
                  <label for="validationCustom01">Nome da Operadora</label>
                  <input #operadora_nome="ngModel" 
                    [class.is-invalid]="operadora_nome.invalid && operadora_nome.touched"
                    [class.is-valid]="operadora_nome.valid && operadora_nome.touched"
                    [(ngModel)]="contratoOperadora.nome" name="operadora_nome" type="text" class="form-control"
                    placeholder="Digite aqui o Nome da Operadora" required />
                  <small class="text-danger" [class.d-none]="operadora_nome.valid || operadora_nome.untouched">Nome da
                    Seguradora Necessária!</small>
                </div>

                <div id="codigo" class="col-md-2 mb-2">
                  <label for="validationCustom03">Código</label>
                  <input #codigo="ngModel" 
                    [class.is-invalid]="codigo.invalid && codigo.touched"
                    [class.is-valid]="codigo.valid && codigo.touched" 
                    [(ngModel)]="contratoOperadora.codigo" name="codigo"
                    type="text" class="form-control" placeholder="Informe o código" required />
                </div>
              </div>
            </form>
          </div>
          <!-- fim bloco operadora -->

          <!-- Bolco seguradora -->
          <div id="seguradora" style="display: none;">
            <form #seguradoraForm="ngForm" id="formularioSeguradora">
              <div id="seguradora" class="form-row">
                <div class="col">
                  <label for="validationCustom02">Seguradoras</label>
                  <select #seguradora_tipo="ngModel" 
                    [(ngModel)]="contratoSeguradora.tipo" name="seguradora" 
                    type="text" class="form-control"
                    [class.is-invalid]="seguradora_tipo.invalid && seguradora_tipo.touched"
                    [class.is-valid]="seguradora_tipo.valid && seguradora_tipo.touched"
                  >
                    <option value="">Selecione</option>
                    <option value="Seguro de Vida">Seguro de Vida</option>
                  </select>
                </div>
                <!-- NOME DA SEGURADORA (SEGURO DE VIDA) -->
                <div id="nome_seguradora" class="col-md-4 mb-3">
                  <label for="validationCustom01">Nome da Seguradora</label>
                  <input #seguradora_nome="ngModel"
                    [class.is-invalid]="seguradora_nome.invalid && seguradora_nome.touched"
                    [class.is-valid]="seguradora_nome.valid && seguradora_nome.touched"
                    [(ngModel)]="contratoSeguradora.nome" name="seguradora_nome" 
                    type="text" class="form-control"
                    placeholder="Digite aqui o Nome da Seguradora" required />

                  <small class="text-danger" [class.d-none]="seguradora_nome.valid || seguradora_nome.untouched">Nome da
                    Seguradora Necessária!</small>
                </div>

                <div id="apolice" class="col-md-2 mb-2">
                  <label for="validationCustom03">Apólice</label>
                  <input #apolice="ngModel" 
                    [class.is-invalid]="apolice.invalid && apolice.touched"
                    [class.is-valid]="apolice.valid && apolice.touched" 
                    [(ngModel)]="contratoSeguradora.apolice" name="apolice"
                    type="text" class="form-control" placeholder="Informe a apólice" required />
                </div>
              </div>
            </form>
          </div>
          <!-- fim bloco seguradora -->

          {{sinistralidade.sinistralidade}}
          {{sinistralidade.ano}}

          <div class="col mt-5">
            <button 
              [disabled]="empresaForm.form.invalid || 
                (operadoraForm.form.invalid && seguradoraForm.form.invalid)" 
              name="enviar"
              class="btn btn-primary" (click)="newEmpresa()"
            >
              Gravar informações
            </button>
            <button type="reset" class="btn btn-cancelar">Apagar tudo</button>
          </div>
        </div>

        <!-- VINCULAR INICIO DA VIGÊNCIA -->
        <div id="vinc-vigencia">
          <div class="box-vigencia">
            <div class="anexo-info-box-empresa-vinc">
              <div style="margin: 0 auto 10px auto; width: 100%">
                <nav class="menuVigencia">
                  <ul class="menuItems">
                    <!-- BOTÃO REAJUSTE -->
                    <li id="reajusteBtn" class="active">Reajuste</li>

                    <!-- BOTÃO SINISTRALIDADE -->
                    <li id="sinistralidadeBtn">Sinistralidade</li>
                  </ul>
                </nav>
              </div>
              <div id="reajusTab">
                <h1 style="
                    font-size: 20px;
                    display: flex;
                    margin-bottom: 15px;
                  ">
                  Histórico de Reajustes:
                </h1>

                <div class="form-check">
                  <input [(ngModel)]="enviarReajuste" class="form-check-input" type="checkbox" id="enviarReajuste">
                  <label class="form-check-label" for="enviarReajuste">
                    Incluir Reajuste
                  </label>
                </div>
              
                <form #reajusteForm="ngForm">
                  <label for="reajuste">Informe aqui os reajustes:</label>
                  <div style="width: 100%"></div>
                  <div class="form-row">
                    <!-- ANO -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Ano</label>
                      <input 
                        #ano_vigencia="ngModel" 
                        [(ngModel)]="reajuste.ano_vigencia" name="ano_vigencia" type="number" class="form-control" 
                        [class.is-invalid]="ano_vigencia.invalid && ano_vigencia.touched" 
                        [class.is-valid]="ano_vigencia.valid && ano_vigencia.touched"
                        [disabled]="!enviarReajuste"
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                          "
                        placeholder="Informe o ano da negociação" 
                        required 
                      />
                    </div>
                    <!--  -->

                    <!-- SINISTRALIDADE -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Sinistralidade</label>
                      <input 
                        #reajuste_sinistralidade="ngModel" 
                        [(ngModel)]="reajuste.sinistralidade" name="sinistralidade" type="text"
                        [class.is-invalid]="reajuste_sinistralidade.invalid && reajuste_sinistralidade.touched" 
                        [class.is-valid]="reajuste_sinistralidade.valid && reajuste_sinistralidade.touched"
                        [disabled]="!enviarReajuste" 
                        class="form-control" 
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                        " 
                        placeholder="Informe a sinistralidade" 
                        required 
                      />
                    </div>
                    <!--  -->

                    <!-- TÉCNICO -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Técnico</label>
                      <input 
                        #tecnico="ngModel" 
                        [(ngModel)]="reajuste.tecnico"
                        [class.is-invalid]="tecnico.invalid && tecnico.touched" 
                        [class.is-valid]="tecnico.valid && tecnico.touched" 
                        [disabled]="!enviarReajuste"
                        name="tecnico" type="number" class="form-control" 
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                        " 
                        placeholder="Informe a porcentagem" 
                        required 
                      />
                    </div>
                    <!--  -->

                    <!-- NEGOCIADO -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Negociado</label>
                      <input 
                        #negociado="ngModel" 
                        [(ngModel)]="reajuste.negociado" 
                        [class.is-invalid]="negociado.invalid && negociado.touched" 
                        [class.is-valid]="negociado.valid && negociado.touched" 
                        [disabled]="!enviarReajuste"
                        name="negociado" type="number" class="form-control"
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                        " 
                        placeholder="Informe a porcentagem"
                        required 
                      />
                    </div>
                    <!--  -->
                  </div>
                </form>
              </div>

              <div id="sinisTab" style="display: none">
                <h1 style="
                    font-size: 20px;
                    display: flex;
                    margin-bottom: 15px;
                    ">
                  Histórico de Sinistralidade:
                </h1>
                <label for="reajuste">Informe aqui as Sinistralidades:</label>
                <div style="width: 100%"></div>

                <div class="form-check">
                  <input [(ngModel)]="enviarSinistralidade" class="form-check-input" type="checkbox" id="enviarSinistralidade">
                  <label class="form-check-label" for="enviarSinistralidade">
                    Incluir Sinistralidade
                  </label>
                </div>                
                
                <form #sinistralidadeForm="ngForm">
                  <div class="form-row">
                    <!-- ANO -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Ano</label>
                      <input 
                        #ano="ngModel" 
                        [(ngModel)]="sinistralidade.ano" 
                        [class.is-invalid]="ano.invalid && ano.touched" 
                        [class.is-valid]="ano.valid && ano.touched" 
                        [disabled]="!enviarSinistralidade"
                        name="ano" type="number" class="form-control" 
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                        " 
                        placeholder="Informe o ano da negociação" 
                        required 
                      />
                    </div>
                    <!--  -->

                    <!-- SINISTRALIDADE -->
                    <div class="col-md-5 mb-5">
                      <label for="validationCustom01">Sinistralidade</label>
                      <input 
                        #sinistralidade_sinistralidade="ngModel" 
                        [(ngModel)]="sinistralidade.sinistralidade" 
                        [class.is-invalid]="sinistralidade_sinistralidade.invalid && sinistralidade_sinistralidade.touched"
                        [class.is-valid]="sinistralidade_sinistralidade.valid && sinistralidade_sinistralidade.touched"
                        [disabled]="!enviarSinistralidade"
                        name="sinistralidade" type="text" class="form-control" 
                        style="
                          border-top: none;
                          border-left: none;
                          border-right: none;
                        " 
                        placeholder="Informe a sinistralidade" 
                        required 
                      />
                    </div>
                    <!--  -->
                  </div>
                </form>
              </div>
              <button 
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                " 
                class="btn btn-primary" id="fecharVigencia"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>