<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-list icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Movimentações Totais
              <div class="page-title-subheading">
                Relatório de movimentações totais.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-card mb-3 card">
        <nav class="menuVigencia">
          <ul class="menuItems">
            <li
              *ngFor="let item of vigencias; let index = index"
              (click)="selecionarVigencia(item[1])"
              id="{{ item[1] }}"
              [ngClass]="{ active: index == 3 }"
            >
              {{ item[0] }}
            </li>
          </ul>
        </nav>

        <div class="card-body">
          <table class="table">
            <thead class="tHeadl">
              <tr>
                <th>Mês de Vigência</th>
                <th>Código da Empresa</th>
                <th>Data de Inclusão</th>
                <th>Prioridade</th>
                <th>Tipo</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Carteirinha</th>
                <th>Funcionário</th>
              </tr>
            </thead>

            <tbody class="relatorio">
              <tr
                class="loadit"
                *ngFor="
                  let dado of dadosRelatorio
                    | paginate
                      : {
                          id: 'relatorioPag',
                          itemsPerPage: 30,
                          currentPage: p
                        }
                "
                [ngClass]="{
                  processado:
                    dado.tipo == 'EXCL. TIT' || dado.tipo == 'EXCL. DEP',
                  inclusao:
                    dado.tipo == 'INCL. TIT' || dado.tipo == 'INCL. DEP',
                  transferencia:
                    dado.tipo == 'TRANSF. TIT' || dado.tipo == 'TRANSF. DEP',
                  alteracao: dado.tipo == 'ALT. TIT' || dado.tipo == 'ALT. DEP'
                }"
              >
                <td class="capt">
                  {{ dado.mes_vigencia | date: "MMM/yyyy":"":"pt-BR" }}
                </td>
                <td>
                  <div class="linhaS">{{ dado.cod_empresa }}</div>
                </td>
                <td>{{ dado.data_inclusao | date: "dd/MM/yyyy" }}</td>
                <td class="capt">
                  <b>{{ dado.prioridade }}</b>
                </td>
                <td>
                  <div class="linhaS">{{ dado.tipo }}</div>
                </td>
                <td>
                  <b>{{ dado.CPF }}</b>
                </td>
                <td>{{ dado.nome }}</td>
                <td>
                  <div class="linhaS">{{ dado.carteirinha }}</div>
                </td>
                <td class="capt">{{ dado.usuario }}</td>
              </tr>
              <tr *ngIf="dadosRelatorio.length == 0">
                <td class="text-center" colspan="9">Sem dados cadastrados</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-5 mb-5"></div>
          <pagination-controls
            id="relatorioPag"
            class="paginacao"
            maxSize="7"
            autoHide="true"
            previousLabel="Anterior"
            nextLabel="Seguinte"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            (pageChange)="p = $event"
          ></pagination-controls>
          <button class="btn btn-primary" id="abrirAnexo4">
            <i
              class="fas fa-file-pdf"
              style="margin-right: 6px; font-size: 15px"
            ></i
            >Gerar arquivo PDF
          </button>
        </div>
      </div>
    </div>

    <app-rodape></app-rodape>
  </div>
</div>
