.menuVigencia {
  display: block;
  left: 10px;
  border-bottom: 2px solid var(--cor-tema);
  margin-bottom: 24px;
}

.menuVigencia .menuItems {
  margin-bottom: -2px;
  list-style: none;
  display: flex;
  margin-left: -41px;
}

.menuVigencia .menuItems li {
  display: block;
  font-weight: 500;
  padding: 21px;
  text-decoration: none;
  color: #495057;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.menuVigencia .menuItems li.active {
  display: block;
  background: linear-gradient(0deg, #0c5d24 0%, #11963c 100%);
  padding: 21px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid #ffffff29; */
}

.menuVigencia .menuItems li:hover::before {
  display: block;
  width: 67%;
  height: 130%;
  transition: all 0.59s ease-in-out;
}

.menuVigencia .menuItems li.active:hover {
  transform: translate(0px, 0px);
}

.menuVigencia .menuItems li:hover {
  display: block;
  transform: translate(0px, -4px);
  transition: all 0.3s ease-in-out;
}

.menuVigencia .menuItems li::before {
  display: block;
  content: attr(data-item);
  transition: 0.3s;
  position: absolute;
  top: 21px;
  bottom: 0;
  left: 21px;
  right: 0;
  width: 0;
  overflow: hidden;
  cursor: pointer;
  color: var(--branco);
}

.menuVigencia .menuItems li:hover::before {
  display: block;
  width: 67%;
  height: 130%;
  transition: all 0.59s ease-in-out;
}

.radiusTop {
  border-radius: 0.25rem 0px 0px 0px;
}

.processado {
  background-color: #ebff39;
}

.inclusao-titular {
  background-color: #39c7ff;
}
