<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-user-tie icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Alteração Titular Ativo
              <div class="page-title-subheading">
                Alteração de dados - Titular Ativo.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta" class="main-card mb-3 card">
        <nav class="menuVigencia">
          <ul class="menuItems">
            <!-- BOTÃO REAJUSTE -->
            <li class="active radiusTop" (click)="titAtivo()">
              <i
                class="fas fa-user-check"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Titulares Ativos
            </li>

            <!-- BOTÃO SINISTRALIDADE -->
            <li class="cancelados" (click)="titCancelado()">
              <i
                class="fas fa-user-slash"
                style="font-size: 15px; margin-right: 9px"
              ></i
              >Titulares Cancelados
            </li>
          </ul>
        </nav>
        <div class="card-body">
          <h5 class="card-title">Consultar Titular</h5>
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="input-group col-md-3 mb3">
                <label for="validationCustom01">CPF:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  name="CPF"
                  (input)="searchCPF($event.target.value)"
                  class="form-control cpf"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CPF"
                />
              </div>
              <div class="input-group col-md-4 mb3">
                <label for="validationCustom01">Nome do Titular:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-user-tie"></i
                ></span>
                <input
                  (input)="searchNomeBenef($event.target.value)"
                  name="nome_titular"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do titular"
                />
              </div>
            </div>
            <div style="width: 100%; height: 10px"></div>

            <hr />

            <div style="width: 100%"></div>

            <div class="titulares">
              Titulares Encontrados:
              <li
                class="loadit"
                *ngFor="
                  let resultado of busca
                    | orderBy: 'created_at':false
                    | paginate
                      : {
                          id: 'titularsAlteracao',
                          itemsPerPage: 14,
                          currentPage: p
                        }
                "
                (click)="titularClicked(resultado)"
                [ngClass]="
                  resultado.transferido == true ? 'transferido': {                     
                  'prioridade': resultado.prioridade == 'prioridade'}
                "
              >
                <i
                  style="
                    font-size: 18px;
                    margin-left: 9px;
                    margin-right: 1px;
                    background-color: #eff9ff;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    padding: 3px;
                    color: #434343;
                  "
                  class="fas fa-user-tie"
                ></i>
                CPF: {{ resultado.CPF | mask: "000.000.000-99" }} -
                {{ resultado.nome }}
                <i
                  style="float: right; margin-top: 4px"
                  class="fas fa-external-link-alt"
                ></i>
              </li>
              <h4
                class="loadit"
                style="margin-top: 20px"
                *ngIf="busca.length === 0"
              >
                Nada encontrado
              </h4>
            </div>
            <pagination-controls
              id="titularsAlteracao"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
      <div id="titularesappear" class="main-card mb-3 card">
        <h1
          class="titular-ts"
          style="margin-left: 20px; margin-right: 20px; padding-top: 20px"
        >
          <div id="voltardados" class="voltar">
            <i class="fas fa-chevron-left"></i>
          </div>
          <s style="margin-left: 12px; width: 975px; text-decoration: none">{{
            titular.nome
          }}</s>
          <p class="cpf-ts">
            Inscrito(a) sob CPF:
            {{ titular.CPF | mask: "000.000.000-99" }}
          </p>
          <p class="cpf-ts">Incluso em: {{ titular.criado_em | date: 'dd/MM/yyyy' }}</p>

          <div class="botao-anexosAlt">
            <button
              class="btn btn-primary"
              style="width: 160px"
              id="abrirAnexoAlt"
            >
              <i style="margin-right: 6px" class="fas fa-file-image"></i>Abrir
              Anexos
            </button>
          </div>
        </h1>

         <!-- TELA DE ANEXOS DE CASAMENTO -->
         <div id="vinc-anexo-casadoAlt">
          <div class="box-anexo">
            <div class="anexo-info-box-titular-vinc">
              <label
                style="
                  display: flex;
                  font-size: 18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
                >Anexos vinculados:</label
              >
              <div>
                <h3 *ngIf="anexo_doc_casamento != null">
                  Certidão de Casamento
                </h3>
                <a
                  *ngIf="!titular.anexo_doc_casamento != null"
                  href="{{ anexo_doc_casamento }}"
                  data-lightbox="image1"
                  data-title="Certidão de Casamento de {{ titular.nome }}"
                >
                  <img
                    class="hover-shadow"
                    width="275px"
                    src="{{ anexo_doc_casamento }}"
                  />
                </a>
              </div>
              <b *ngIf="anexo_doc_casamento == null"
                >Nenhuma Certidão de Casamento</b
              >
              <hr />
              <div>
                <h3 *ngIf="anexo_doc_empregaticio != null">
                  Vínculo Empregatício
                </h3>
                <a
                  *ngIf="!titular.anexo_doc_empregaticio != null"
                  href="{{ anexo_doc_empregaticio }}"
                  data-lightbox="image2"
                  data-title="Vínculo Empregatício de {{ titular.nome }}"
                >
                  <img
                    class="hover-shadow"
                    width="275px"
                    src="{{ anexo_doc_empregaticio }}"
                  />
                </a>
              </div>
              <b *ngIf="anexo_doc_empregaticio == null"
                >Nenhum Vínculo Empregatício</b
              >
              <hr />
              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                "
                class="btn btn-primary"
                id="fecharAnexoAlt"
              >
                Fechar tela
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div id="postTit" class="card-body">
          <!-- VINCULAR ANEXO DE VINCULO EMPREGATICIO -->
          <div id="vinc-anexo-empregaticio" style="display: none">
            <div class="box-anexo">
              <div class="anexo-info-box-titular-vinc">
                <h1
                  style="
                    font-size: 2.3em;
                    display: flex;
                    margin-top: 0px;
                    margin-bottom: 15px;
                  "
                >
                  Para continuar a alteração, precisa-se anexar os documentos
                  necessários:
                </h1>
                <h2
                  style="
                    font-size: 20px;
                    display: flex;
                    margin-top: 15px;
                    margin-bottom: 15px;
                  "
                >
                  Anexar Vínculo Empregatício
                </h2>
                <label for="avatar">Escolha um arquivo para anexar:</label>
                <div style="height: 10px; width: 100%"></div>

                <input
                  type="file"
                  id="imagemEmpregaticio"
                  accept=".png, .jpg, .jpeg"
                  name="vinculo_empregaticio"
                  (change)="vinculoEmpInput($event.target.files)"
                />

                <button
                  style="
                    display: flex;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                  "
                  class="btn btn-primary"
                  id="fecharAnexo4"
                  (click)="fecharNovoDocumento()"
                >
                  Anexar Arquivo
                </button>
              </div>
            </div>
          </div>

          <h5 class="card-title">ALTERE OS CAMPOS ABAIXO:</h5>
          <hr />
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CPF</label>
                <input
                  #CPF="ngModel"
                  maxlength="11"
                  autocomplete="off"
                  mask="000.000.000-00"
                  [(ngModel)]="titular.CPF"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  [class.is-invalid]="
                    (CPF.invalid && CPF.touched) || !cpfValido
                  "
                  [class.is-valid]="CPF.valid && CPF.touched && cpfValido"
                  (change)="validarCPF($event.target.value)"
                  id="CPF"
                  name="CPF"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                />
                <small id="InvalidCPF" class="text-danger" style="display: none"
                  >CPF Inválido!</small
                >
                <small
                  id="CPFCadastrado"
                  class="text-danger"
                  style="display: none; width: 100%"
                  >CPF Já Cadastrado!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input
                  autocomplete="off"
                  [(value)]="titular.cod_empresa"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                  readonly
                  required
                />

                <div class="invalid-feedback">
                  Por favor informe o número do Código corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Recebimento</label>
                <input
                  [(ngModel)]="titular.data_recebimento"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de recebimento"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  [value]="titular.prioridade"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <div class="row">
                  <label for="validationCustom01" class="ml-3"
                    >Número da Carteirinha</label
                  >
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <input
                      autocomplete="off"
                      [(ngModel)]="titular.carteirinha"
                      name="carteirinha"
                      type="text"
                      class="form-control"
                      placeholder="Digite aqui o número"
                    />
                  </div>
                  <div class="col-md-2">
                    <button
                    title="Atualizar Carteirinha"

                      style="margin-left: -20px"
                      class="btn btn-success"
                      (click)="confirmarAtualizacao()"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div id="atualizarCarteirinha">
                <div class="box-carteirinha">
                  <div class="anexo-info-box-titular-vinc">
                    <h1 class="mb-5">
                      Tem certeza que deseja atualizar a carteirinha de
                      <b>{{ titular.nome }}</b
                      >?
                    </h1>
                    <button
                      class="btn btn-primary"
                      (click)="atualizarCarteirinha()"
                    >
                      Atualizar
                    </button>
                    <button
                      class="btn btn-secondary"
                      (click)="atualizarCarteirinhaVoltar()"
                    >
                      Voltar
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="titular.tipo"
                  [ngModelOptions]="{ standalone: true }"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome do Beneficiário</label>
                <input
                  [(ngModel)]="titular.nome"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Beneficiário"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Nascimento</label>
                <input
                  [(ngModel)]="titular.data_nascimento"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de nascimento"
                  required
                />

                <div class="invalid-feedback">
                  Por favor informe o número do CPF corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Sexo</label>
                <select
                  [(ngModel)]="titular.sexo"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  class="form-control"
                  name="sexo"
                  required
                >
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Estado Civil</label>
                <select
                  [(ngModel)]="titular.estado_civil"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  class="form-control"
                  name="estado_civil"
                  required
                >
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome da Mãe</label>
                <input
                  [(ngModel)]="titular.nome_mae"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Mãe"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Admissão</label>
                <input
                  [(ngModel)]="titular.data_admissao"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de admissão"
                  required
                />
              </div>
              <div *ngIf="titular.estado_civil == 'Casado(a)'" class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="titular.data_casamento"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data do casamento"
                  ng-required="false"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CEP</label>
                <input
                  [(ngModel)]="titular.CEP"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  [(ngModel)]="titular.celular"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control phone_with_ddd"
                  placeholder="Informe o Celular"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input
                  [(ngModel)]="titular.cidade"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                  required
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select
                  [(ngModel)]="titular.estado"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  class="form-control"
                  name="estado_uf"
                  required
                >
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Declaração de Saúde</label>
                <select
                  [(ngModel)]="titular.declaracao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  class="form-control"
                  id="validationCustom09"
                  required
                >
                  <option value="Sim">Sim</option>
                  <option value="Nao">Não</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  id="validationCustom10"
                  [value]="titular.ativo ? 'Ativo' : 'Cancelado'"
                  required
                />
                <div class="invalid-feedback">
                  Por favor informe o estado corretamente.
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde</label
                >
                <input
                  [(ngModel)]="titular.desc_declarao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control"
                  id="validationCustom12"
                  placeholder="Informe aqui exatamente como está na declaração"
                  required
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="titular.observacoes"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="titular.anexo_doc_empregaticio == null"
                  type="text"
                  class="form-control"
                  id="validationCustom11"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                  required
                />
              </div>
            </div>
            <div>
              <button
                class="btn btn-primary"
                style="width: 160px"
                id="unlockCad"
                (click)="novoDocumento()"
              >
                <i style="margin-right: 6px" class="fas fa-unlock"></i>
                Alterar Titular
              </button>
            </div>
            <button
              id="atualizarCad"
              style="display: none"
              class="btn btn-primary"
              (click)="updateTit()"
            >
              <i class="fas fa-check"></i> Atualizar Cadastro
            </button>
          </form>
        </div>
        <!--  -->
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
<script>
  document.title = "Alteração Titular Ativo";
</script>
<script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
<link
  rel="stylesheet"
  href="https://bossanova.uk/jsuites/v2/jsuites.css"
  type="text/css"
/>
