<!-- NOVIDADE ABERTA -->
<div class="box-novidade">
    <div class="text-novidade">
      <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%', height: '40px'}" animation="progress">
      </ngx-skeleton-loader>
      <h2 *ngIf="contentLoaded"> {{ selected_novidade.titulo }} </h2>

      <div *ngIf="contentLoaded">
        <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%', height: '40px'}" animation="progress">
        </ngx-skeleton-loader>
          {{ selected_novidade.descricao }}
      </div>
    </div>
  </div>
  <div id="novidadeAberta"></div>
  <!--  -->
  