<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-user-tie icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Cancelamento de Titulares
              <div class="page-title-subheading">
                Cancelamento de dados - Titulares Ativos.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta4" class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Consultar Titular</h5>
          <form class="needs-validation">
            <div class="form-row">
              <div class="input-group col-md-3 mb3">
                <label>CPF:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  name="CPF"
                  (input)="searchCPF($event.target.value)"
                  class="form-control cpf"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CPF"
                />
              </div>
              <!-- (keypress)="textOnly($event)" -->
              <div class="input-group col-md-4 mb3">
                <label>Nome do titular:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-user-tie"></i
                ></span>
                <input
                  (input)="searchNomeBenef($event.target.value)"
                  name="nome_titular"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do titular"
                />
              </div>
            </div>
            <div style="width: 100%; height: 10px"></div>

            <hr />

            <div>
              <div for="checkedAllTitulares" class="contentCancelar">
                <button class="btn btn-secondary">
                  <i
                    style="margin-right: 3px; font-size: 14px"
                    class="far fa-times-circle"
                  ></i>
                  Desmarcar todos
                </button>
              </div>
              <div class="contentCancelar">
                <button
                  class="btn btn-primary"
                  (click)="confirmarCancelamentos()"
                >
                  <i style="margin-right: 6px" class="fas fa-user-slash"></i
                  >Cancelar selecionados
                </button>
              </div>
              <div class="titulares">
                Titulares Encontrados:
                <li
                  class="loadit"
                  *ngFor="
                    let resultado of busca
                      | orderBy: 'created_at':false
                      | paginate
                        : {
                            id: 'titularsCancelamento',
                            itemsPerPage: 14,
                            currentPage: p
                          }
                  "
                  [ngClass]="
                    resultado.prioridade == 'prioridade'
                      ? 'prioridade'
                      : 'sem-prioridade'
                  "
                >
                  <input
                    for="checkedTitular"
                    type="checkbox"
                    (click)="preCancelar($event.target.checked, resultado)"
                  />
                  <i
                    style="
                      font-size: 18px;
                      margin-left: 9px;
                      margin-right: 1px;
                      background-color: #eff9ff;
                      border: 1px solid #ced4da;
                      border-radius: 0.25rem;
                      padding: 3px;
                      color: #434343;
                    "
                    class="fas fa-user-tie"
                  ></i>
                  CPF: {{ resultado.CPF | mask: "000.000.000-99" }} -
                  {{ resultado.nome_benef }}
                  <button
                    data-toggle="tooltip"
                    title="Excluir Titular"
                    data-placement="top"
                    class="btn exclude"
                    (click)="titularClicked(resultado)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </li>

                <h4
                  class="loadit"
                  style="margin-top: 20px"
                  *ngIf="busca.length === 0"
                >
                  Nada encontrado
                </h4>
              </div>
            </div>
            <pagination-controls
              id="titularsCancelamento"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
    </div>

    <div id="cancelamentoTitular">
      <div class="box-cancelar">
        <div class="anexo-info-box-titular-vinc">
          <h1>
            Tem certeza que deseja cancelar o cadastro de
            <b>{{ titular.nome_benef }}</b
            >?
          </h1>
          <div style="margin-top: 35px; width: 100%"></div>
          <button class="btn btn-primary" (click)="cancelarTitular()">
            Confirmar
          </button>
          <button class="btn btn-secondary" (click)="boxCancelarVoltar()">
            Voltar
          </button>
        </div>
      </div>
    </div>

    <div id="cancelamentoSelecionados" style="display: none">
      <div class="box-cancelar">
        <div class="anexo-info-box-titular-vinc">
          <h1 style="margin-bottom: 13px">
            Tem certeza que deseja cancelar os cadastros abaixo?
          </h1>
          <h3 *ngFor="let titular of cancelamentos">
            <b>{{ titular.nome_benef }}</b>
          </h3>
          <div style="margin-top: 35px; width: 100%"></div>
          <button class="btn btn-primary" (click)="cancelarSelecionados()">
            Confirmar
          </button>
          <button class="btn btn-secondary" (click)="boxSeleconadosVoltar()">
            Voltar
          </button>
        </div>
      </div>
    </div>

    <div id="espera" style="display: none">
      <div class="box-cancelar">
        <div class="anexo-info-box-titular-vinc">
          <h1 *ngIf="cancelados.cancelados.length > 0">
            Cadastros Cancelados:
          </h1>
          <h3 *ngFor="let titular of cancelados.cancelados">
            <b>{{ titular.nome_benef }}</b>
          </h3>

          <h1 *ngIf="cancelados.erros.length > 0">
            Cadastros com erro no cancelamento:
          </h1>
          <div *ngFor="let erro of cancelados.erros">
            <h3>
              <b>{{ erro.titular.nome_benef }}:</b>
            </h3>
            <p *ngFor="let msg of erro.erros">{{ msg }}</p>
          </div>

          <div style="margin-top: 35px; width: 100%"></div>
          <button class="btn btn-secondary" (click)="boxEsperaVoltar()">
            Voltar
          </button>
        </div>
      </div>
    </div>

    <app-rodape></app-rodape>
  </div>
</div>
<!-- </div> -->
<script>
  document.title = "Cancelamento titular";
</script>
