<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fas fa-user-tie icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Alteração Titular Ativo
              <div class="page-title-subheading">
                Alteração de dados - Titular Ativo.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta" class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Consultar o Titular</h5>
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div
                class="input-group mb3"
                style="flex: 0 0 19%; max-width: 19%"
              >
                <label for="validationCustom01">CPF:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  [(ngModel)]="CPF"
                  [ngModelOptions]="{ standalone: true }"
                  (input)="searchCPF()"
                  class="form-control"
                  mask="000.000.000-00"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CPF"
                />
              </div>
              <div class="input-group col-md-4 mb3">
                <label for="validationCustom01">Nome do Titular:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-user-tie"></i
                ></span>
                <input
                  [(ngModel)]="nome_benef"
                  (input)="searchNomeBenef()"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Titular"
                />
              </div>
            </div>
            <div style="width: 100%; height: 20px"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <div *ngIf="contentLoaded" class="titulares">
              Titulares Encontrados:
              <li class="loadit"
                *ngFor="
                  let titular of titulares
                    | orderBy: 'created_at':false
                    | paginate
                      : { id: 'alttitulares', itemsPerPage: 14, currentPage: p }
                "
                (click)="titularClicked(titular)"
              >
                <i
                  style="
                    font-size: 18px;
                    margin-left: 9px;
                    margin-right: 1px;
                    background-color: #eff9ff;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    padding: 3px;
                    color: #434343;
                  "
                  class="fas fa-user-tie"
                ></i>
                CPF: {{ titular.CPF | mask: "000.000.000-99" }} -
                {{ titular.nome_benef }}
                <i
                  style="float: right; margin-top: 4px"
                  class="fas fa-external-link-alt"
                ></i>
              </li>
              <h4 class="loadit"
            style="margin-top: 20px;"
            *ngIf="titulares.length === 0"
          >
            Nada encontrado
          </h4>
            </div>
            <pagination-controls
              id="alttitulares"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
      <div id="titularesappear" class="main-card mb-3 card">
        <h1
          class="titular-ts"
          style="margin-left: 20px; margin-right: 20px; padding-top: 20px"
        >
          <div id="voltardados" class="voltar">
            <i class="fas fa-chevron-left"></i>
          </div>
          <s style="margin-left: 12px; width: 975px; text-decoration: none">{{
            selected_titular.nome_benef
          }}</s>
          <p class="cpf-ts">
            Inscrito(a) sob CPF:
            {{ selected_titular.CPF | mask: "000.000.000-99" }}
          </p>

          <div class="botao-anexosAlt">
            <button
              class="btn btn-primary"
              style="font-weight: bold; font-size: 16px"
              id="abrirAnexoAlt"
            >
              <i style="margin-right: 6px" class="fas fa-file-image"></i>Abrir
              Anexos
            </button>
          </div>
        </h1>

        <!-- TELA DE ANEXOS DE CASAMENTO -->
        <div id="vinc-anexo-casadoAlt">
          <div class="box-anexo">
            <div class="anexo-info-box-titular-vinc">
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
                >Anexos vinculados:</label
              >

              <img
                style="width: 250px"
                src="{{ selected_titular.anexo_doc_casamento }}"
                alt="Certidão de Casamento de {{ selected_titular.nome_benef }}"
              />
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 17px;
                  margin-top: 25px;
                  margin-bottom: 10px;
                "
                >Escolha uma outra imagem para anexar:</label
              >

              <input
                type="file"
                id="imagemCasado"
                accept="image/png, image/jpeg"
                [(ngModel)]="selected_titular.anexo_doc_casamento"
                [ngModelOptions]="{ standalone: true }"
                ng-required="false"
              />

              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                "
                class="btn btn-primary"
                id="fecharAnexoAlt"
              >
                Fechar tela
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="card-body">
          <h5 class="card-title">ALTERE OS CAMPOS ABAIXO:</h5>
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CPF</label>
                <input
                  maxlength="11"
                  autocomplete="off"
                  mask="000.000.000-00"
                  [(ngModel)]="selected_titular.CPF"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                />

                <div class="invalid-feedback">
                  Por favor informe o número do CPF corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input
                  autocomplete="off"
                  [(ngModel)]="selected_titular.cod_empresa"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                  required
                />

                <div class="invalid-feedback">
                  Por favor informe o número do Código corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Recebimento</label>
                <input
                  [(ngModel)]="selected_titular.data_recebimento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de recebimento"
                  required
                />

              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  placeholder="Prioridade"
                  required
                />

              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Número da Carteirinha</label>
                <input
                  [(ngModel)]="selected_titular.carteirinha"
                  autocomplete="off"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o número"
                />
              </div>

              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="selected_titular.tipo"
                  [ngModelOptions]="{ standalone: true }"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome do Beneficiário</label>
                <input
                  [(ngModel)]="selected_titular.nome_benef"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome do Beneficiário"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Data de Nascimento</label>
                <input
                  [(ngModel)]="selected_titular.data_nascimento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de nascimento"
                  required
                />

                <div class="invalid-feedback">
                  Por favor informe o número do CPF corretamente.
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Sexo</label>
                <select
                  [(ngModel)]="selected_titular.sexo"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  name="sexo"
                  required
                >
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Estado Civil</label>
                <select
                  [(ngModel)]="selected_titular.estado_civil"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  name="estado_civil"
                  required
                >
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome da Mãe</label>
                <input
                  [(ngModel)]="selected_titular.nome_mae"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Mãe"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Admissão</label>
                <input
                  [(ngModel)]="selected_titular.data_admissao"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data de admissão"
                  required
                />
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="selected_titular.data_casamento"
                  [ngModelOptions]="{ standalone: true }"
                  type="date"
                  class="form-control"
                  placeholder="Informe a data do casamento"
                  ng-required="false"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Parentesco</label>
                <input
                  [(ngModel)]="selected_titular.tipo_parentesco"
                  [ngModelOptions]="{ standalone: true }"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Sem Parentesco"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01">CEP</label>
                <input
                  [(ngModel)]="selected_titular.CEP"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  [(ngModel)]="selected_titular.celular"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control phone_with_ddd"
                  placeholder="Informe o Celular"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input
                  [(ngModel)]="selected_titular.cidade"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                  required
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select
                  [(ngModel)]="selected_titular.estado"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  name="estado_uf"
                  required
                >
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Declaração de Saúde</label>
                <select
                  [(ngModel)]="selected_titular.declaracao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  id="validationCustom09"
                  required
                >
                  <option value="Sim">Sim</option>
                  <option value="Nao">Não</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  [(ngModel)]="selected_titular.status"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  id="validationCustom10"
                  placeholder="OK"
                  required
                />
                <div class="invalid-feedback">
                  Por favor informe o estado corretamente.
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde</label
                >
                <input
                  [(ngModel)]="selected_titular.desc_declarao_saude"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  id="validationCustom12"
                  placeholder="Informe aqui exatamente como está na declaração"
                  required
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="selected_titular.observacoes"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  id="validationCustom11"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                  required
                />
              </div>
            </div>
            <button class="btn btn-primary" (click)="updateTit()">
              Alterar Titular
            </button>
          </form>
        </div>

        <!--  -->
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
<script>
  document.title = "Alteração Titular Ativo";
</script>
<script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
<link
  rel="stylesheet"
  href="https://bossanova.uk/jsuites/v2/jsuites.css"
  type="text/css"
/>
