<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-building icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Alteração Empresa Principal ou Filial Ativa
              <div class="page-title-subheading">
                Alteração de dados - Principal/Filial Ativa.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="consulta" class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Consultar Empresa</h5>
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="input-group col-md-3 mb3">
                <label for="validationCustom01">CNPJ:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-id-card"></i
                ></span>
                <input
                  (input)="searchCNPJ($event.target.value)"
                  class="form-control cnpj"
                  type="text"
                  id="search_cpf"
                  placeholder="Pesquise por CNPJ"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="input-group col-md-4 mb3">
                <label for="validationCustom01">Nome da Empresa:</label>
                <div style="width: 100%"></div>
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-building"></i
                ></span>
                <input
                  (input)="searchEmpresa($event.target.value)"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o nome da Empresa"
                />
              </div>
            </div>
            <div style="width: 100%; height: 10px"></div>
            <hr />
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>

            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <ngx-skeleton-loader
              *ngIf="!contentLoaded"
              [theme]="{ width: '50%', height: '40px' }"
              animation="progress"
            >
            </ngx-skeleton-loader>
            <div style="width: 100%"></div>
            <div *ngIf="contentLoaded" class="titulares">
              Empresas Encontradas:
              <li
                class="loadit"
                *ngFor="
                  let resultado of busca
                    | orderBy: 'created_at':false
                    | paginate
                      : {
                          id: 'altEmpresas',
                          itemsPerPage: 14,
                          currentPage: p
                        }
                "
                (click)="empresaClicked(resultado)"
              >
                <i
                  style="
                    font-size: 18px;
                    margin-left: 9px;
                    margin-right: 1px;
                    background-color: #eff9ff;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    padding: 3px;
                    color: #434343;
                  "
                  class="fas fa-building"
                ></i>
                CNPJ: {{ resultado.CNPJ | mask: "00.000.000/0000-00" }} -
                {{ resultado.razao_social }}
                <i
                  style="float: right; margin-top: 4px"
                  class="fas fa-external-link-alt"
                ></i>
              </li>
              <h4
                class="loadit"
                style="margin-top: 20px"
                *ngIf="busca.length === 0"
              >
                Nada encontrado
              </h4>
            </div>
            <pagination-controls
              id="altEmpresas"
              class="paginacao"
              maxSize="7"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Seguinte"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              (pageChange)="p = $event"
            ></pagination-controls>
          </form>
        </div>
      </div>
      <div id="empresaappear" class="main-card mb-3 card">
        <h1
          class="titular-ts"
          style="margin-left: 20px; margin-right: 20px; padding-top: 20px"
        >
          <div id="voltardados-empresa" class="voltar">
            <i class="fas fa-chevron-left"></i>
          </div>
          <s style="margin-left: 12px; width: 975px; text-decoration: none">{{
            empresa.razao_social
          }}</s>
          <p class="cnpj-ts">
            Inscrito sob CNPJ:
            {{ empresa.CNPJ | mask: "00.000.000/0000-00" }}
          </p>
          <div class="bordatopEmp">
            <button class="btn btn-primary" id="abrirAnexoEmp">
              <i class="fas fa-file-image"></i>
              Abrir Anexos
            </button>

            <hr />

            <button class="btn btn-primary" id="reajuste-sinistralidade">
              <i class="fas fa-building"></i>
              Abrir Vigência
            </button>
          </div>
        </h1>
        <!-- TELA DE ANEXOS DA EMPRESA -->
        <div id="vinc-anexo-emp" style="display: none">
          <div class="box-anexo">
            <div class="anexo-info-box-titular-vinc">
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
                >Anexos vinculados:</label
              >

              <img
                style="width: 250px"
                src="{{ empresa.anexo_doc_emp }}"
                alt="Anexo de {{ empresa.razao_social }}"
              />
              <label
                for="avatar"
                style="
                  display: flex;
                  font-size: 17px;
                  margin-top: 25px;
                  margin-bottom: 10px;
                "
                >Escolha uma outra imagem para anexar:</label
              >

              <input
                type="file"
                id="imagemCasado"
                accept="image/png, image/jpeg"
                [(ngModel)]="empresa.anexo_doc_emp"
                [ngModelOptions]="{ standalone: true }"
                ng-required="false"
              />

              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                "
                class="btn btn-primary"
                id="fecharAnexoEmp"
              >
                Fechar tela
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="card-body">
          <h5 class="card-title">ALTERE OS CAMPOS ABAIXO:</h5>

          <div style="display: none" class="form-check">
            <input
              [(ngModel)]="empresa.is_filial"
              id="filial"
              class="form-check-input"
              type="checkbox"
              id="filial"
            />
            <label class="form-check-label" for="filial"> Filial </label>
          </div>

          <form
            class="needs-validation"
            #empresaForm="ngForm"
            ENCTYPE="multipart/form-data"
            novalidate
          >
            <div id="divFilial" class="form-row" style="display: none">
              <div class="col-md-2" style="flex: 0 0 19%; max-width: 19%">
                <label for="validationCustom01"
                  >CNPJ da Empresa Principal</label
                >
                <input
                  #CNPJ_empresa_principal="ngModel"
                  autocomplete="off"
                  [(ngModel)]="empresa.CNPJ_empresa_principal"
                  [class.is-invalid]="
                    CNPJ_empresa_principal.invalid &&
                    CNPJ_empresa_principal.touched
                  "
                  [class.is-valid]="
                    CNPJ_empresa_principal.valid &&
                    CNPJ_empresa_principal.touched
                  "
                  pattern="^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$"
                  id="CNPJ_empresa_principal"
                  name="CNPJ_empresa_principal"
                  type="text"
                  class="form-control cnpj"
                  placeholder="Número de CNPJ"
                />
                <div
                  *ngIf="
                    CNPJ_empresa_principal.errors &&
                    (CNPJ_empresa_principal.valid ||
                      CNPJ_empresa_principal.touched)
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="CNPJ_empresa_principal.errors.required"
                    >CNPJ Necessário!</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="CNPJ_empresa_principal.errors.pattern"
                    >CNPJ Digitos Incompletos!</small
                  >
                </div>
              </div>

              <div class="col-md-4 mb-2">
                <label for="validationCustom01">
                  Razão social da Empresa Principal</label
                >
                <input
                  #razao_social_principal="ngModel"
                  [(ngModel)]="empresa.razao_social_principal"
                  [class.is-invalid]="
                    razao_social_principal.invalid &&
                    razao_social_principal.touched
                  "
                  [class.is-valid]="
                    razao_social_principal.valid &&
                    razao_social_principal.touched
                  "
                  id="razao_social_principal"
                  name="razao_social_principal"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui a Razão Social"
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    razao_social_principal.valid ||
                    razao_social_principal.untouched
                  "
                >
                  Razão SocialNecessária!
                </small>
              </div>
            </div>
            <hr />

            <div class="form-row">
              <div class="col-md-2" style="flex: 0 0 19%; max-width: 19%">
                <label for="validationCustom01">CNPJ</label>
                <input
                  #CNPJ="ngModel"
                  autocomplete="off"
                  [(ngModel)]="empresa.CNPJ"
                  [class.is-invalid]="CNPJ.invalid && CNPJ.touched"
                  [class.is-valid]="CNPJ.valid && CNPJ.touched"
                  pattern="^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$"
                  name="CNPJ"
                  type="text"
                  class="form-control cnpj"
                  placeholder="Número de CNPJ"
                  required
                />

                <div *ngIf="CNPJ.errors && (CNPJ.valid || CNPJ.touched)">
                  <small class="text-danger" *ngIf="CNPJ.errors.required"
                    >CNPJ Necessário!</small
                  >
                  <small class="text-danger" *ngIf="CNPJ.errors.pattern"
                    >CNPJ Digitos Incompletos!</small
                  >
                </div>
              </div>

              <div class="col-md-4 mb-2">
                <label for="validationCustom01">Razão Social</label>
                <input
                  #razao_social="ngModel"
                  [class.is-invalid]="
                    razao_social.invalid && razao_social.touched
                  "
                  [class.is-valid]="razao_social.valid && razao_social.touched"
                  [(ngModel)]="empresa.razao_social"
                  name="razao_social"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui a Razão Social"
                  required
                />
                <small
                  class="text-danger"
                  [class.d-none]="razao_social.valid || razao_social.untouched"
                  >Razão Social Necessária!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Código Empresa</label>
                <input
                  #cod_empresa="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="
                    cod_empresa.invalid && cod_empresa.touched
                  "
                  [class.is-valid]="cod_empresa.valid && cod_empresa.touched"
                  [(ngModel)]="empresa.cod_empresa"
                  name="cod_empresa"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                  required
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  placeholder="OK"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-3 mr-5">
                <label for="validationCustom05">Inicio de Vigência</label>
                <input
                  #inicio_vigencia="ngModel"
                  [class.is-invalid]="
                    inicio_vigencia.invalid && inicio_vigencia.touched
                  "
                  [class.is-valid]="
                    inicio_vigencia.valid && inicio_vigencia.touched
                  "
                  [(ngModel)]="empresa.inicio_vigencia"
                  name="inicio_vigencia"
                  type="date"
                  class="form-control"
                  required
                />
                <!--  -->
              </div>

              <div class="col-md-2 mb-3 mr-5">
                <label for="validationCustom05">Data de Recebimento</label>
                <input
                  #data_recebimento="ngModel"
                  [class.is-invalid]="
                    data_recebimento.invalid && data_recebimento.touched
                  "
                  [class.is-valid]="
                    data_recebimento.valid && data_recebimento.touched
                  "
                  [(ngModel)]="empresa.data_recebimento"
                  name="data_recebimento"
                  type="date"
                  class="form-control"
                  required
                />
                <!--  -->
              </div>

              <div class="col-md-2 mb-3 mr-5">
                <label for="validationCustom01">Vencimento do Boleto</label>
                <input
                  #vencimento_boleto="ngModel"
                  [class.is-invalid]="
                    vencimento_boleto.invalid && vencimento_boleto.touched
                  "
                  [class.is-valid]="
                    vencimento_boleto.valid && vencimento_boleto.touched
                  "
                  [(ngModel)]="empresa.vencimento_boleto"
                  name="vencimento_boleto"
                  type="date"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <!-- VINCULAR ANEXO DO DOCUMENTO DA EMPRESA -->
              <div id="vinc-anexo-empresa" style="display: none">
                <div class="box-anexo">
                  <div class="anexo-info-box-titular-vinc">
                    <h1
                      style="
                        font-size: 20px;
                        display: flex;
                        margin-top: -15px;
                        margin-bottom: 15px;
                      "
                    >
                      Anexar Documento da Empresa:
                    </h1>
                    <label for="avatar">Escolha um arquivo para anexar:</label>
                    <div style="height: 10px; width: 100%"></div>

                    <input
                      type="file"
                      id="imagemEmpregaticio"
                      accept=".png, .jpg, .jpeg"
                      [(ngModel)]="empresa.anexo_doc_emp"
                      name="vinculo_empregaticio"
                    />

                    <button
                      style="
                        display: flex;
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                      "
                      class="btn btn-primary"
                      id="fecharAnexo5"
                    >
                      Anexar Arquivo
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  #celular="ngModel"
                  [class.is-invalid]="celular.invalid && celular.touched"
                  [class.is-valid]="celular.valid && celular.touched"
                  required
                  [(ngModel)]="empresa.celular"
                  name="celular"
                  type="text"
                  class="form-control celular"
                  placeholder="Informe o Celular"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03">Cidade</label>
                <input
                  #cidade="ngModel"
                  [class.is-invalid]="cidade.invalid && cidade.touched"
                  [class.is-valid]="cidade.valid && cidade.touched"
                  required
                  [(ngModel)]="empresa.cidade"
                  name="cidade"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02">Estado UF</label>
                <select
                  #estado="ngModel"
                  [class.is-invalid]="estado.invalid && estado.touched"
                  [class.is-valid]="estado.valid && estado.touched"
                  required
                  [(ngModel)]="empresa.estado"
                  id="estado_uf"
                  class="form-control"
                  name="estado_uf"
                >
                  <option value="">Selecione</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-3">
                <label for="validationCustom02">Tipo de Contrato</label>
                <select
                  #tipo_contrato="ngModel"
                  [(ngModel)]="empresa.tipo_contrato"
                  [class.is-invalid]="
                    tipo_contrato.invalid && tipo_contrato.touched
                  "
                  [class.is-valid]="
                    tipo_contrato.valid && tipo_contrato.touched
                  "
                  name="sexo"
                  class="form-control"
                  name="tipo_contrato"
                  id="tipo_contrato"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Operadora">Operadora</option>
                  <option value="Seguradora">Seguradora</option>
                </select>
              </div>

              <div class="col-md-5 mb-2">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="empresa.observacoes"
                  name="observacoes"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                />
              </div>
            </div>
          </form>

          <!-- Bloco da Contrato -->
          <form #contratoForm="ngForm">
            <!-- Dados Operadora -->
            <div class="form-row" *ngIf="empresa.tipo_contrato == 'Operadora'">
              <div class="col-md-2">
                <label for="validationCustom02">Operadoras</label>
                <select
                  #operadora_tipo="ngModel"
                  [class.is-invalid]="
                    operadora_tipo.invalid && operadora_tipo.touched
                  "
                  [class.is-valid]="
                    operadora_tipo.valid && operadora_tipo.touched
                  "
                  [(ngModel)]="contratoOperadora.tipo"
                  name="operadora"
                  class="form-control"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Saude">Saúde</option>
                  <option value="Odonto">Odonto</option>
                </select>
              </div>

              <!-- NOME DA OPERADORA  -->
              <div id="nome_operadora" class="col-md-4 mb-3">
                <label for="validationCustom01">Nome da Operadora</label>
                <input
                  #operadora_nome="ngModel"
                  [(ngModel)]="contratoOperadora.nome"
                  [class.is-invalid]="
                    operadora_nome.invalid && operadora_nome.touched
                  "
                  [class.is-valid]="
                    operadora_nome.valid && operadora_nome.touched
                  "
                  name="operadora_nome"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o Nome da Operadora"
                  required
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    operadora_nome.valid || operadora_nome.untouched
                  "
                  >Nome da Seguradora Necessária!</small
                >
              </div>

              <div id="codigo" class="col-md-2 mb-2">
                <label for="validationCustom03">Código</label>
                <input
                  #codigo="ngModel"
                  [(ngModel)]="contratoOperadora.codigo"
                  [class.is-invalid]="codigo.invalid && codigo.touched"
                  [class.is-valid]="codigo.valid && codigo.touched"
                  name="codigo"
                  type="text"
                  class="form-control"
                  placeholder="Informe o código"
                  required
                />
              </div>
            </div>
            <!-- Fim dados Operadora -->

            <!-- Dados Seguradora -->
            <div class="form-row" *ngIf="empresa.tipo_contrato == 'Seguradora'">
              <div class="col-md-3">
                <label for="validationCustom02">Seguradoras</label>
                <select
                  #seguradora_tipo="ngModel"
                  [(ngModel)]="contratoSeguradora.tipo"
                  [class.is-valid]="
                    seguradora_tipo.valid && seguradora_tipo.touched
                  "
                  [class.is-invalid]="
                    seguradora_tipo.invalid && seguradora_tipo.touched
                  "
                  name="seguradora"
                  type="text"
                  class="form-control"
                  required
                >
                  <option value="">Selecione</option>
                  <option value="Seguro de Vida">Seguro de Vida</option>
                </select>
              </div>

              <!-- NOME DA SEGURADORA (SEGURO DE VIDA) -->
              <div id="nome_seguradora" class="col-md-5 mb-3">
                <label for="validationCustom01">Nome da Seguradora</label>
                <input
                  #seguradora_nome="ngModel"
                  [(ngModel)]="contratoSeguradora.nome"
                  [class.is-invalid]="
                    seguradora_nome.invalid && seguradora_nome.touched
                  "
                  [class.is-valid]="
                    seguradora_nome.valid && seguradora_nome.touched
                  "
                  name="seguradora_nome"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o Nome da Seguradora"
                  required
                />

                <small
                  class="text-danger"
                  [class.d-none]="
                    seguradora_nome.valid || seguradora_nome.untouched
                  "
                  >Nome da Seguradora Necessária!</small
                >
              </div>

              <div id="apolice" class="col-md-3 mb-2">
                <label for="validationCustom03">Apólice</label>
                <input
                  #apolice="ngModel"
                  [(ngModel)]="contratoSeguradora.apolice"
                  [class.is-invalid]="apolice.invalid && apolice.touched"
                  [class.is-valid]="apolice.valid && apolice.touched"
                  name="apolice"
                  type="text"
                  class="form-control"
                  placeholder="Informe a apólice"
                  required
                />
              </div>
            </div>
          </form>
          <div class="col-md-5 mb-5"></div>

          <!-- fim bloco Contrato -->
          <button
            [disabled]="empresaForm.form.invalid || contratoForm.form.invalid"
            name="enviar"
            class="btn btn-primary"
            (click)="atualizarEmpresa()"
          >
            <i class="fas fa-check"></i> Gravar informações
          </button>
        </div>

        <!-- VINCULAR INICIO DA VIGÊNCIA -->
        <div id="vinc-vigenciaAlt" style="display: none">
          <div class="box-vigencia">
            <div class="anexo-info-box-empresa-vinc">
              <nav class="menuVigencia">
                <ul class="menuItems">
                  <!-- BOTÃO REAJUSTE -->
                  <li id="reajusteBtnAlt" class="active radiusTop">Reajuste</li>

                  <!-- BOTÃO SINISTRALIDADE -->
                  <li id="sinistralidadeBtnAlt">Sinistralidade</li>
                </ul>
              </nav>

              <div id="reajusTabAlt">
                <div id="tabelaReajuste">
                  <h1
                    style="font-size: 20px; display: flex; margin-bottom: 15px"
                  >
                    Histórico de Reajustes:
                  </h1>
                  <table class="table table-info text-center">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Ano</th>
                        <th>Fidelizado</th>
                        <th>Técnico %</th>
                        <th>Negociado %</th>
                        <th colspan="2">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let linha of reajustes
                            | paginate
                              : {
                                  id: 'reajustes_pag',
                                  itemsPerPage: 5,
                                  currentPage: p
                                }
                        "
                      >
                        <th></th>
                        <th>{{ linha.ano_vigencia }}</th>
                        <th>{{ linha.sinistralidade }}</th>
                        <th>{{ linha.tecnico }} %</th>
                        <th>{{ linha.negociado }} %</th>
                        <th>
                          <button
                            class="btn editVig"
                            (click)="editReajuste(linha)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                        </th>
                        <th>
                          <button class="btn eraseVig">
                            <i class="fas fa-trash"></i>
                          </button>
                        </th>
                      </tr>
                      <tr *ngIf="reajustes.length == 0">
                        <th colspan="6">Nenhum reajuste cadastrado</th>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <pagination-controls
                    id="reajustes_pag"
                    class="paginacao"
                    maxSize="7"
                    autoHide="true"
                    previousLabel="Anterior"
                    nextLabel="Seguinte"
                    directionLinks="true"
                    autoHide="true"
                    responsive="true"
                    (pageChange)="p = $event"
                  ></pagination-controls>
                    <button
                      class="btn btn-primary"
                      (click)="adicionarReajuste()"
                    >
                      <i style="margin-right: 5px" class="fas fa-plus"></i
                      >Adicionar Reajuste
                    </button>
                  </div>
                </div>

                <div id="formularioReajuste" style="display: none">
                  <hr />
                  <form #reajusteForm="ngForm">
                    <h1
                      style="
                        font-size: 20px;
                        display: flex;
                        margin-bottom: 15px;
                        margin-top: 15px;
                      "
                    >
                      Informe aqui os Reajustes:
                    </h1>
                    <div style="width: 100%"></div>
                    <div class="form-row">
                      <!-- ANO -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Ano</label>
                        <input
                          #ano_vigencia="ngModel"
                          [(ngModel)]="reajuste.ano_vigencia"
                          name="ano_vigencia"
                          type="number"
                          class="form-control"
                          [class.is-invalid]="
                            ano_vigencia.invalid && ano_vigencia.touched
                          "
                          [class.is-valid]="
                            ano_vigencia.valid && ano_vigencia.touched
                          "
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe o ano da negociação"
                          required
                        />
                      </div>
                      <!--  -->

                      <!-- SINISTRALIDADE -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Fidelizado</label>
                        <input
                          #reajuste_sinistralidade="ngModel"
                          [(ngModel)]="reajuste.sinistralidade"
                          name="sinistralidade"
                          type="text"
                          [class.is-invalid]="
                            reajuste_sinistralidade.invalid &&
                            reajuste_sinistralidade.touched
                          "
                          [class.is-valid]="
                            reajuste_sinistralidade.valid &&
                            reajuste_sinistralidade.touched
                          "
                          maxlength="3"
                          class="form-control"
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe a fidelização"
                          required
                        />
                      </div>
                      <!--  -->

                      <!-- TÉCNICO -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Técnico</label>
                        <input
                          #tecnico="ngModel"
                          [(ngModel)]="reajuste.tecnico"
                          [class.is-invalid]="
                            tecnico.invalid && tecnico.touched
                          "
                          [class.is-valid]="tecnico.valid && tecnico.touched"
                          name="tecnico"
                          type="number"
                          maxlength="3"
                          class="form-control"
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe a porcentagem"
                          required
                        />
                      </div>
                      <!--  -->

                      <!-- NEGOCIADO -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Negociado</label>
                        <input
                          #negociado="ngModel"
                          [(ngModel)]="reajuste.negociado"
                          [class.is-invalid]="
                            negociado.invalid && negociado.touched
                          "
                          [class.is-valid]="
                            negociado.valid && negociado.touched
                          "
                          name="negociado"
                          type="number"
                          maxlength="3"
                          class="form-control"
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe a porcentagem"
                          required
                        />
                      </div>
                      <!--  -->
                    </div>
                    <button
                      id="atualizarReajuste"
                      class="btn btn-primary"
                      (click)="updateReajuste()"
                      style="display: none"
                    >
                      <i class="fas fa-check"></i> Atualizar Reajuste
                    </button>
                    <button
                      id="cadastrarReajuste"
                      class="btn btn-primary"
                      (click)="newReajuste()"
                      style="display: none"
                    >
                      <i class="fas fa-check"></i> Cadastrar
                    </button>
                  </form>
                </div>
              </div>

              <div id="sinisTabAlt" style="display: none">
                <div id="tabelaSinistro">
                  <h1
                    style="font-size: 20px; display: flex; margin-bottom: 15px"
                  >
                    Histórico de Sinistralidade:
                  </h1>
                  <table class="table table-info text-center">
                    <thead>
                      <tr>
                        <th>Ano</th>
                        <th>Sinistralidade</th>
                        <th colspan="2">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let linha of sinistralidades
                            | paginate
                              : {
                                  id: 'sinistralidades_pag',
                                  itemsPerPage: 5,
                                  currentPage: p
                                }
                        "
                      >
                        <th>{{ linha.ano }}</th>
                        <th>{{ linha.sinistralidade }} %</th>
                        <th>
                          <button
                            class="btn editVig"
                            (click)="editSinistralidade(linha)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                        </th>
                        <th>
                          <button class="btn eraseVig">
                            <i class="fas fa-trash"></i>
                          </button>
                        </th>
                      </tr>
                      <tr *ngIf="sinistralidades.length == 0">
                        <th colspan="4">Nenhuma sinistralidade cadastrada</th>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    id="sinistralidades_pag"
                    class="paginacao"
                    maxSize="7"
                    autoHide="true"
                    previousLabel="Anterior"
                    nextLabel="Seguinte"
                    directionLinks="true"
                    autoHide="true"
                    responsive="true"
                    (pageChange)="p = $event"
                  ></pagination-controls>

                  <div>
                    <button
                      class="btn btn-primary"
                      (click)="adicionarSinistralidade()"
                    >
                      <i style="margin-right: 5px" class="fas fa-plus"></i
                      >Adicionar Sinistralidade:
                    </button>
                  </div>
                </div>

                <div id="formularioSinistralidade" style="display: none">
                  <hr />
                  <h1
                    style="
                      font-size: 20px;
                      display: flex;
                      margin-bottom: 15px;
                      margin-top: 15px;
                    "
                  >
                    Informe aqui a Sinistralidade:
                  </h1>
                  <form #sinistralidadeForm="ngForm">
                    <div class="form-row">
                      <!-- ANO -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Ano</label>
                        <input
                          #ano="ngModel"
                          [(ngModel)]="sinistralidade.ano"
                          [class.is-invalid]="ano.invalid && ano.touched"
                          [class.is-valid]="ano.valid && ano.touched"
                          name="ano"
                          type="number"
                          class="form-control"
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe o ano da negociação"
                          required
                        />
                      </div>
                      <!--  -->

                      <!-- SINISTRALIDADE -->
                      <div class="col-md-5 mb-5">
                        <label for="validationCustom01">Sinistralidade</label>
                        <input
                          #sinistralidade_sinistralidade="ngModel"
                          [(ngModel)]="sinistralidade.sinistralidade"
                          [class.is-invalid]="
                            sinistralidade_sinistralidade.invalid &&
                            sinistralidade_sinistralidade.touched
                          "
                          [class.is-valid]="
                            sinistralidade_sinistralidade.valid &&
                            sinistralidade_sinistralidade.touched
                          "
                          name="sinistralidade"
                          type="text"
                          maxlength="3"
                          class="form-control"
                          style="
                            border-top: none;
                            border-left: none;
                            border-right: none;
                          "
                          placeholder="Informe a sinistralidade"
                          required
                        />
                      </div>
                      <!--  -->
                    </div>
                    <button
                      id="atualizarSinistralidade"
                      class="btn btn-primary"
                      (click)="updateSinistralidade()"
                      style="display: none"
                    >
                      <i class="fas fa-check"></i> Atualizar Sinistralidade
                    </button>
                    <button
                      id="cadastrarSinistralidade"
                      class="btn btn-primary"
                      (click)="newSinistralidade()"
                      style="display: none"
                    >
                      <i class="fas fa-check"></i> Cadastrar
                    </button>
                  </form>
                </div>
              </div>
              <button
                style="
                  display: flex;
                  position: absolute;
                  right: 53px;
                  bottom: 25px;
                "
                class="btn btn-cancelar"
                id="fecharVigenciaAlt"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-rodape></app-rodape>

      <script>
        document.title = "Alteração Empresa Ativa";
      </script>
      <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
      <link
        rel="stylesheet"
        href="https://bossanova.uk/jsuites/v2/jsuites.css"
        type="text/css"
      />
    </div>
  </div>
</div>
