#titulares {
  display: none;
}
.titulares {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  width: 480px;
}

/* ---------------- MENU ESCOLHA DE TITULARES */
.titulares li {
  display: block;
  width: 650px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 7px 8px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  transition: 0.3s;
  color: #6c757d;
  cursor: pointer;
}

.titulares > li:nth-of-type(odd) {
  background: rgb(240, 240, 240);
}

.titulares li.ativo {
  display: block;
  color: var(--branco);
  background-color: var(--cor-tema);
  border: 1px solid #0000002c;
}
.titulares li:hover {
  color: var(--branco);
  background-color: var(--cor-tema);
  border: 1px solid #0000002c;
  transform: translate(0px, -3px);
}
/* ---------------------- */
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: var(--cor-tema) !important;
  color: #fefefe;
  cursor: default;
}
.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  width: 400px !important;
  margin: 10px auto !important;
}
