/*  CONTROLES MENUS */

#tarefas {
  z-index: 995;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tarefas {
  display: none;
}

#config {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#config {
  display: none;
}

.box-text {
  border-top: 4px solid var(--cor-tema);
  border-radius: 15px;
  background: var(--branco);
  max-width: 125vh;
  width: 110vh;
  min-height: 80vh;
  margin: 9vh auto;
  z-index: 997;
  position: fixed;
  top: 40vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.box-text {
  display: none;
}

.text-info-box {
  margin: auto;
  width: 85%;
  margin-top: 13px;
  padding: 5px;
}

/* TAREFA ABERTA */

#over-text {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1017;
}

#over-text {
  display: none;
}

.texto-overlay {
  border-radius: 15px;
  background: var(--branco);
  width: 100vh;
  min-height: 28vh;
  position: fixed;
  padding: 20px;
  border: 2px solid #00000027;
  margin: 9vh auto;
  position: fixed;
  top: 36vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1018;
}

.texto-overlay {
  display: none;
}

.texto-overlay h2 {
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 25px;
  background: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.no-borda {
  width: 90%;
  outline: none;
  border: none;
  padding: 0;
  margin-top: -20px;
}

.no-borda4 {
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin-top: -20px;
}

.no-borda2 {
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  max-height: 90px;
  height: 60px;
  background-color: #00000005;
  border: 2px solid #0000000d;
  padding: 10px;
  resize: none;
}

.no-borda3 {
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 35px;
  max-height: 90px;
  height: 60px;
  background-color: #00000005;
  border: 2px solid #0000000d;
  padding: 10px;
  resize: none;
}
.texto-overlay span {
  margin-bottom: 20px;
  width: 100%;
}
/*  */

/* NOVA TAREFA */

#over-tarefa {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.nova-tarefa {
  border-radius: 15px;
  background: var(--branco);
  width: 100vh;
  min-height: 28vh;
  position: fixed;
  padding: 20px;
  border: 2px solid #00000027;
  margin: 9vh auto;
  position: fixed;
  top: 29vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1009;
}

.nova-tarefa h2 {
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 18px;
  background: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.nova-tarefa h3 {
  margin-top: 9px;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 25px;
  background: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
/*  */

.fechar-button {
  cursor: pointer;
  color: #696969;
  font-size: 27px;
  display: flex;
  float: right;
  border-radius: 50px;
  background: var(--branco);
  padding: 0px 12px 1px 12px;
  margin-right: 15px;
  margin-top: 11px;
  font-weight: 600;
  transition: 0.3s;
}

.fechar-button:hover {
  background: var(--cor-tema);
  color: var(--branco);
  transform: translate(0px, -4px);
}

.fechar-button2 {
  cursor: pointer;
  color: #696969;
  font-size: 24px;
  display: flex;
  float: right;
  border-radius: 50px;
  background: var(--branco);
  padding: 0px 12px 1px 12px;
  margin-right: -9px;
  margin-top: -8px;
  font-weight: 600;
  transition: 0.3s;
}

.fechar-button2:hover {
  background: var(--cor-tema);
  color: var(--branco);
  transform: translate(0px, -4px);
}
/* LISTA DE TAREFAS - CSS */

/* BOTÃO DE ADICIONAR */

.add-div {
  background-color: var(--cor-tema);
  cursor: pointer;
  display: inline-block;
  color: var(--branco);
  padding: 9px;
  border-radius: 10px;
  margin-right: 25px;
  transition: 0.4s;
  border: 2px solid #ffffff59;
  box-shadow: 0px 3px #0c6d00;
}

.add-div:hover {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px #0000004b;
  color: var(--branco);
  background-color: var(--cor-botao-hover);
  border-color: var(--cor-botao-hover);
  border: 3px solid #ced4da;
}

.edit-plus {
  color: var(--branco);
  margin-right: 10px;
  margin-left: 5px;
}

/* SEARCH BAR */

.edit-search {
  font-size: 17px;
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
  color: #808080;
  transition: 0.4s;
}

.edit-search:hover {
  color: #007124;
  transform: translate(0px, -2px);
}

.search-div {
  padding: 0px;
  margin-top: -2px;
  margin-bottom: 15px;
  display: inline-block;
  margin-left: -20px;
}

/*  */

.list-div {
  padding: 0;
}

.task-list {
  padding-left: 0;
}

.titulo-task {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #dadada;
}

.loadit {
  animation: fadeIn 0.5s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.task-item li {
  list-style: none;
  font-size: 17px;
  padding-top: 15px;
  border-bottom: 1px #e2e2e2 solid;
  transition: 0.5s;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-item li::before{
  color: #495057;
  content: "\f044";
  font-family: 'Font Awesome 5 Free';
  width: 1.5em;
  font-size: 17px;
  float: left;
  font-weight: bold;
}

.task-item li::before:hover{
  color: var(--branco) !important;
}

.task-item > li:nth-of-type(odd) {
  background: #eff1f6 ;
}

.task-item li:hover {
  color: #fff;
  transform: translate(0px, -3px);
  background: var(--cor-tema);
}

.task-item li:focus {
  background: var(--cor-tema);
}
.posit-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edit-trash {
  color: var(--cor-cancelar);
  transition: 0.4s;
  cursor: pointer;
  margin: 5px;
  background-color: transparent;
  font-size: 20px;
  float: right;
  border: none;
  outline: none;
  margin-right: 5px;
}

.edit-edit {
  color: var(--cor-tema);
  transition: 0.4s;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  float: right;
}

.edit-trash:hover,
.edit-edit:hover {
  transform: translate(0px, -3px);
}
