<div class="fadeIn app-main">
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fas fa-user-tie icon-gradient bg-mean-fruit"> </i>
            </div>
            <div>
              Inclusão de Titular
              <div class="page-title-subheading">Novo Titular Ativo.</div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Faça a consulta do CPF do Titular:</h5>
          <hr />
          <a
            href="https://servicos.receita.fazenda.gov.br/servicos/cpf/consultasituacao/consultapublica.asp"
            target="_blank"
            class="btn btn-primary"
            id="consultarCPF"
          >
            <i class="fas fa-check"></i> Consultar CPF
          </a>
        </div>
      </div>
      <!-- <div id="modalCPF">
        <div class="box-consultaCPF">
          <div class="consultaCPF-atribut">
            <iframe
              src="https://servicos.receita.fazenda.gov.br/servicos/cpf/consultasituacao/consultapublica.asp"
              style="width: 940px; height: 530px"
              frameborder="0"
            ></iframe>
          </div>
          <button
            style="display: none; position: absolute; right: 20px; bottom: 20px"
            class="btn btn-primary btnCPF"
            id="fecharConsulta"
          >
            Fechar tela
          </button>
        </div>
      </div> -->

      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Preencha os campos abaixo:</h5>
          <hr />
          <span style="color: red">* Obrigatório</span>
          <div style="height: 5px"></div>

          <form
            class="needs-validation"
            #titularForm="ngForm"
            ENCTYPE="multipart/form-data"
            novalidate
          >
            <div class="form-row">
              <div class="col-md-2 mb-4">
                <label for="validationCustom01"
                  >CPF <span style="color: red">*</span></label
                >
                <input
                  #CPF="ngModel"
                  autocomplete="off"
                  [(ngModel)]="titular.CPF"
                  [class.is-invalid]="
                    (CPF.invalid && CPF.touched) || !cpfValido
                  "
                  [class.is-valid]="CPF.valid && CPF.touched && cpfValido"
                  (change)="validarCPF($event.target.value)"
                  id="CPF"
                  name="CPF"
                  type="text"
                  class="form-control cpf"
                  placeholder="Número de CPF"
                  required
                />

                <div *ngIf="CPF.errors && (CPF.valid || CPF.touched)">
                  <small class="text-danger" *ngIf="CPF.errors.required"
                    >CPF Necessário!</small
                  >
                  <small class="text-danger" *ngIf="CPF.errors.pattern"
                    >CPF Digitos Incompletos!</small
                  >
                </div>
                <small id="InvalidCPF" class="text-danger" style="display: none"
                  >CPF Inválido!</small
                >
                <small
                  id="CPFCadastrado"
                  class="text-danger"
                  style="display: none; width: 100%"
                  >CPF Já Cadastrado!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Código Empresa <span style="color: red">*</span></label
                >
                <input
                  #cod_empresa="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="
                    cod_empresa.invalid && cod_empresa.touched
                  "
                  [class.is-valid]="cod_empresa.valid && cod_empresa.touched"
                  [(ngModel)]="titular.cod_empresa"
                  name="cod_empresa"
                  type="text"
                  class="form-control"
                  placeholder="Código da Empresa"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Data Recebimento <span style="color: red">*</span></label
                >
                <input
                  #data_recebimento="ngModel"
                  [class.is-invalid]="
                    data_recebimento.invalid && data_recebimento.touched
                  "
                  [class.is-valid]="
                    data_recebimento.valid && data_recebimento.touched
                  "
                  [(ngModel)]="titular.data_recebimento"
                  name="data_recebimento"
                  type="date"
                  class="form-control"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01">Prioridade</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Prioridade"
                  name="prioridade"
                  readonly="true"
                  value="Prioridade"
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Número da Carteirinha
                  <span style="color: red">*</span></label
                >
                <input
                  #carteirinha="ngModel"
                  autocomplete="off"
                  [class.is-invalid]="
                    carteirinha.invalid && carteirinha.touched
                  "
                  [class.is-valid]="carteirinha.valid && carteirinha.touched"
                  [(ngModel)]="titular.carteirinha"
                  name="carteirinha"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o número"
                />
              </div>

              <div class="col-md-3 mb-3" style="display: none">
                <label for="validationCustom01">Tipo</label>
                <input
                  [(ngModel)]="titular.tipo"
                  name="tipo"
                  readonly="“true”"
                  type="text"
                  class="form-control"
                  placeholder="Inclusão de Dependente"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01"
                  >Nome do Beneficiário <span style="color: red">*</span></label
                >
                <input
                  #nome="ngModel"
                  [class.is-invalid]="nome.invalid && nome.touched"
                  [class.is-valid]="nome.valid && nome.touched"
                  [(ngModel)]="titular.nome"
                  name="nome"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o Nome do Beneficiário"
                  required
                />
                <small
                  class="text-danger"
                  [class.d-none]="nome.valid || nome.untouched"
                >
                  Nome do Beneficiário Necessário!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom01"
                  >Data Nascimento <span style="color: red">*</span></label
                >
                <input
                  #data_nascimento="ngModel"
                  [class.is-invalid]="
                    data_nascimento.invalid && data_nascimento.touched
                  "
                  [class.is-valid]="
                    data_nascimento.valid && data_nascimento.touched
                  "
                  [(ngModel)]="titular.data_nascimento"
                  name="data_nascimento"
                  type="date"
                  class="form-control"
                  placeholder="Código da Empresa"
                  required
                />
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Sexo <span style="color: red">*</span></label
                >
                <select
                  #sexo="ngModel"
                  [class.is-invalid]="sexo.invalid && sexo.touched"
                  [class.is-valid]="sexo.valid && sexo.touched"
                  class="form-control"
                  name="sexo"
                  [(ngModel)]="titular.sexo"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Estado Civil <span style="color: red">*</span></label
                >
                <!-- BOTÃO REANEXAR CASADO -->
                <div id="reanexar" style="display: none">
                  <button
                    style="position: absolute; right: -45px; top: 31px"
                    class="btn btn-primary"
                    id="abrirAnexo"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>
                <!--  -->
                <select
                  #estado_civil="ngModel"
                  [class.is-invalid]="
                    estado_civil.invalid && estado_civil.touched
                  "
                  [class.is-valid]="estado_civil.valid && estado_civil.touched"
                  required
                  id="estado_civil"
                  class="form-control"
                  [(ngModel)]="titular.estado_civil"
                  name="estado_civil"
                >
                  <option value="">Selecione</option>
                  <option value="Solteiro(a)">Solteiro(a)</option>
                  <option value="Casado(a)">Casado(a)</option>
                  <option value="Convivente">Convivente</option>
                </select>

                <!-- VINCULAR ANEXO DE CASADO -->
                <div id="vinc-anexo-casado">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <h1
                        style="
                          font-size: 20px;
                          display: flex;
                          margin-top: -15px;
                          margin-bottom: 15px;
                        "
                      >
                        Anexar Certidão de Casamento
                      </h1>
                      <label for="avatar"
                        >Escolha um arquivo para anexar:</label
                      >
                      <div style="height: 10px; width: 100%"></div>

                      <div class="mb-3">
                        <input
                          type="file"
                          id="imagemCasado"
                          accept="image/png, image/jpeg"
                          name="cert_casamento"
                          ngControl="inputFile"
                          (change)="anexoCasamentoInput($event.target.files)"
                        />
                      </div>

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexo"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>

                <!-- VINCULAR ANEXO DE VINCULO EMPREGATICIO -->
                <div id="vinc-anexo-empregaticio">
                  <div class="box-anexo">
                    <div class="anexo-info-box-titular-vinc">
                      <h1
                        style="
                          font-size: 20px;
                          display: flex;
                          margin-top: -15px;
                          margin-bottom: 15px;
                        "
                      >
                        Anexar Vínculo Empregatício
                      </h1>
                      <label for="avatar"
                        >Escolha um arquivo para anexar:</label
                      >
                      <div style="height: 10px; width: 100%"></div>

                      <input
                        type="file"
                        id="imagemEmpregaticio"
                        accept=".png, .jpg, .jpeg"
                        name="vinculo_empregaticio"
                        (change)="vinculoEmpInput($event.target.files)"
                      />

                      <button
                        style="
                          display: flex;
                          position: absolute;
                          right: 20px;
                          bottom: 20px;
                        "
                        class="btn btn-primary"
                        id="fecharAnexoNovoTit"
                      >
                        Anexar Arquivo
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationCustom01"
                  >Nome da Mãe <span style="color: red">*</span></label
                >
                <input
                  #nome_mae="ngModel"
                  [class.is-invalid]="nome_mae.invalid && nome_mae.touched"
                  [class.is-valid]="nome_mae.valid && nome_mae.touched"
                  [(ngModel)]="titular.nome_mae"
                  name="nome_mae"
                  type="text"
                  class="form-control"
                  placeholder="Digite aqui o Nome do Beneficiário"
                  required
                />
                <small
                  class="text-danger"
                  [class.d-none]="nome_mae.valid || nome_mae.untouched"
                >
                  Nome da Mãe Necessário!</small
                >
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom05"
                  >Data de Admissão <span style="color: red">*</span></label
                >
                <input
                  #data_admissao="ngModel"
                  [class.is-invalid]="
                    data_admissao.invalid && data_admissao.touched
                  "
                  [class.is-valid]="
                    data_admissao.valid && data_admissao.touched
                  "
                  [(ngModel)]="titular.data_admissao"
                  name="data_admissao"
                  type="date"
                  id="dataAdmissao"
                  class="form-control"
                  required
                />

                <!-- BOTÃO REANEXAR VINCIULO EMPREGATICIO -->
                <div id="reanexar4" style="display: none">
                  <button
                    style="position: absolute; right: -44px; top: 31px"
                    class="btn btn-primary"
                    id="abrirAnexo4"
                  >
                    <i class="fas fa-file-image" style="font-size: 15px"></i>
                  </button>
                </div>
                <!--  -->
              </div>

              <div
                id="datacasamento"
                class="col-md-2 mb-3"
                style="margin-left: 40px; display: none"
              >
                <label for="validationCustom05">Data de Casamento</label>
                <input
                  [(ngModel)]="titular.data_casamento"
                  name="data_casamento"
                  type="date"
                  class="form-control"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="validationCustom01"
                  >CEP <span style="color: red">*</span></label
                >
                <input
                  #CEP="ngModel"
                  [class.is-invalid]="CEP.invalid && CEP.touched"
                  [class.is-valid]="CEP.valid && CEP.touched"
                  required
                  [(ngModel)]="titular.CEP"
                  name="CEP"
                  type="text"
                  class="form-control cep"
                  placeholder="Informe o CEP"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom01">Celular</label>
                <input
                  #celular="ngModel"
                  [class.is-invalid]="celular.invalid && celular.touched"
                  [class.is-valid]="celular.valid && celular.touched"
                  required
                  [(ngModel)]="titular.celular"
                  name="celular"
                  type="text"
                  class="form-control celular"
                  placeholder="Informe o Celular"
                />
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom03"
                  >Cidade <span style="color: red">*</span></label
                >
                <input
                  #cidade="ngModel"
                  [class.is-invalid]="cidade.invalid && cidade.touched"
                  [class.is-valid]="cidade.valid && cidade.touched"
                  required
                  [(ngModel)]="titular.cidade"
                  name="cidade"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                />
              </div>

              <div class="col-md-1 mb-1">
                <label for="validationCustom02"
                  >Estado UF <span style="color: red">*</span></label
                >
                <select
                  #estado="ngModel"
                  [class.is-invalid]="estado.invalid && estado.touched"
                  [class.is-valid]="estado.valid && estado.touched"
                  required
                  [(ngModel)]="titular.estado"
                  name="estado_uf"
                  class="form-control"
                  name="estado_uf"
                >
                  <option value="">Selecione</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>

              <div class="col-md-2 mb-3">
                <label for="validationCustom02"
                  >Declaração de Saúde <span style="color: red">*</span></label
                >
                <select
                  id="declaracaoSaudeTitular"
                  #declaracao_saude="ngModel"
                  [class.is-invalid]="
                    declaracao_saude.invalid && declaracao_saude.touched
                  "
                  [class.is-valid]="
                    declaracao_saude.valid && declaracao_saude.touched
                  "
                  class="form-control"
                  name="declaracao_saude"
                  [(ngModel)]="titular.declaracao_saude"
                  required
                >
                  <option value="">Selecione aqui</option>
                  <option value="Sim">Sim</option>
                  <option value="Nao">Não</option>
                </select>
              </div>

              <div class="col-md-2 mb-2">
                <label for="validationCustom04">Status Sistema</label>
                <input
                  readonly="true"
                  type="text"
                  class="form-control"
                  placeholder="OK"
                />
              </div>

              <div
                class="col-md-4 mb-4"
                style="display: none"
                id="descDeclaracaoSaudeTitular"
              >
                <label for="validationCustom05"
                  >Descrição da Declaração de Saúde
                  <span style="color: red">*</span></label
                >
                <input
                  #desc_declarao_saude="ngModel"
                  [class.is-invalid]="
                    desc_declarao_saude.invalid && desc_declarao_saude.touched
                  "
                  [class.is-valid]="
                    desc_declarao_saude.valid && desc_declarao_saude.touched
                  "
                  [(ngModel)]="titular.desc_declarao_saude"
                  name="desc_declarao_saude"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui exatamente como está na declaração"
                />
              </div>

              <div class="col-md-5 mb-5">
                <label for="validationCustom05">Observações</label>
                <input
                  [(ngModel)]="titular.observacoes"
                  name="observacoes"
                  type="text"
                  class="form-control"
                  placeholder="Informe aqui aspectos importantes para o movimentação"
                />
              </div>
            </div>

            <button
              [disabled]="titularForm.form.invalid"
              name="enviar"
              class="btn btn-primary"
              (click)="newTitular()"
            >
              <i class="fas fa-check"></i> Gravar informações
            </button>

            <div id="confirmacaoTitular">
              <div class="box-confirmacao">
                <div class="confirmacao-texto">
                  <div style="position: absolute; right: 70px; top: 66px">
                    <img
                      style="width: 85px; height: 85px"
                      src="https://1.bp.blogspot.com/-eC39C3T4rsI/YNUTDdEUSeI/AAAAAAAAHPI/nbUgYyth4y4ZHUxzm-PVHquQ7XEVY1qegCLcBGAsYHQ/s0/checked.png"
                    />
                  </div>
                  <h1
                    style="
                      font-size: 22px;
                      margin-top: 5px;
                      margin-bottom: 15px;
                    "
                  >
                    Você cadastrou: <b>{{ titular.nome }}</b>
                    <div style="width: 100%; height: 12px"></div>
                    sob CPF: <b>{{ titular.CPF }}</b>
                  </h1>
                  <button
                    class="btn btn-primary"
                    type="reset"
                    id="fecharTelaTitular"
                    style="
                      bottom: 27px;
                      margin: auto;
                      width: 200px;
                      position: absolute;
                      margin-left: 25%;
                    "
                  >
                    <i class="fas fa-check"></i> Cadastrar outro
                  </button>
                </div>
              </div>
            </div>

            <button type="reset" class="btn btn-cancelar">
              <i class="far fa-times-circle"></i> Apagar tudo
            </button>
          </form>
        </div>
      </div>
    </div>
    <app-rodape></app-rodape>
  </div>
</div>
