<div
  style="
    transform: translate(0%, 100%);
    top: 19%;
    left: 45%;
    margin-right: -50%;
    position: absolute;
  ">
  <h5>Login</h5>
  <div class="row">
    <div class="input-field">
      <input id="usuario" type="text" class="validate" />
      <label class="active" for="usuario">Usuário</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <input id="senha" type="text" class="validate" />
      <label class="active" for="usuario">Senha</label>
    </div>
  </div>
</div>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
