<div class="card-body">
  <h5 class="card-title">Exemplo de cadastramento</h5>
  <form class="needs-validation">
    <div class="form-row">
      <div class="col-md-2 mb-2">
        <label for="validationCustom01">CPF</label>
        <input
          [(ngModel)]="selected_titular.CPF"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Número de CPF"
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número do CPF corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Código Empresa</label>
        <input
          [(ngModel)]="selected_titular.cod_empresa"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Código da Empresa"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número do Código corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Data de Recebimento</label>
        <input
          [(ngModel)]="selected_titular.data_recebimento"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="date"
          class="form-control"
          placeholder="Informe a data de recebimento"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número da data de recebimento corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Prioridade</label>
        <input
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Prioridade"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número da data de recebimento corretamente.
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationCustom01">Tipo</label>
        <input
          [(ngModel)]="selected_titular.tipo"
          [ngModelOptions]="{ standalone: true }"
          readonly="“true”"
          type="text"
          class="form-control"
          placeholder="Cancelamento do Titular"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número do CPF corretamente.
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nome do Beneficiário</label>
        <input
          [(ngModel)]="selected_titular.nome"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          name="edit"
          type="text"
          class="form-control"
          placeholder="Digite aqui o nome do Beneficiário"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Data de Nascimento</label>
        <input
          [(ngModel)]="selected_titular.data_nascimento"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          name="edit"
          type="date"
          class="form-control"
          placeholder="Informe a data de nascimento"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
        <div class="invalid-feedback">
          Por favor informe o número do CPF corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom02">Sexo</label>
        <select
          [(ngModel)]="selected_titular.sexo"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          class="form-control"
          name="sexo"
          required
        >
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom02">Estado Civil</label>
        <select
          [(ngModel)]="selected_titular.estado_civil"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          class="form-control"
          name="sexo"
          required
        >
          <option value="Solteiro(a)">Solteiro(a)</option>
          <option value="Casado(a)">Casado(a)</option>
          <option value="Convivente">Convivente</option>
        </select>
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Anexo Documento</label>
        <input
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Digite aqui o nome da Mãe"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>


      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nome da Mãe</label>
        <input
          [(ngModel)]="selected_titular.nome_mae"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Digite aqui o nome da Mãe"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustom05">Data de Admissão</label>
        <input
          [(ngModel)]="selected_titular.data_admissao"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="date"
          class="form-control"
          placeholder="Informe a data de admissão"
          required
        />
        <div class="invalid-feedback">
          Por favor informe o código postal corretamente.
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom05">Data de Casamento</label>
        <input
          [(ngModel)]="selected_titular.data_casamento"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="date"
          class="form-control"
          placeholder="Informe a data do casamento"
          required
        />
        <div class="invalid-feedback">
          Por favor informe o código postal corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom01">Parentesco</label>
        <input
          readonly="“true”"
          type="text"
          class="form-control"
          placeholder="Sem Parentesco"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-2 mb-2">
        <label for="validationCustom01">CEP</label>
        <input
          [(ngModel)]="selected_titular.CEP"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Informe o CEP"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom01">Celular</label>
        <input
          [(ngModel)]="selected_titular.celular"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Informe o Celular"
          required
        />
        <div class="valid-feedback">Sucesso!</div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom03">Cidade</label>
        <input
          [(ngModel)]="selected_titular.cidade"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          placeholder="Cidade"
          required
        />
        <div class="invalid-feedback">
          Por favor informe a cidade corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom03">Declaração de Saúde</label>
        <input
          [(ngModel)]="selected_titular.declaracao_saude"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          id="validationCustom09"
          placeholder="Declaração de Saúde"
          required
        />
        <div class="invalid-feedback">
          Por favor informe a cidade corretamente.
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom04">Status Sistema</label>
        <input
          readonly="true"
          type="text"
          class="form-control"
          id="validationCustom10"
          
          required
        />
        <div class="invalid-feedback">
          Por favor informe o estado corretamente.
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <label for="validationCustom05">Descrição da Declaração de Saúde</label>
        <input
          [(ngModel)]="selected_titular.desc_declarao_saude"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          id="validationCustom12"
          placeholder="Informe aqui exatamente como está na declaração"
          required
        />
        <div class="invalid-feedback">
          Por favor informe o código postal corretamente.
        </div>
      </div>

      <div class="col-md-5 mb-5">
        <label for="validationCustom05">Observações</label>
        <input
          [(ngModel)]="selected_titular.observacoes"
          [ngModelOptions]="{ standalone: true }"
          readonly="true"
          type="text"
          class="form-control"
          id="validationCustom11"
          placeholder="Informe aqui aspectos importantes para o movimentação"
          required
        />
        <div class="invalid-feedback">
          Por favor informe o código postal corretamente.
        </div>
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Gravar</button>
    <button class="btn btn-primary" type="submit">Apagar tudo</button>
    <button class="btn btn-cancelar" type="submit">Cancelar</button>
  </form>
</div>
